{%extends 'primary/base.html'%}

{%load static%}
{%block content%}
    <hr class="container">

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3 h-100 border">
          <h1 class="text-body-emphasis py-5" >من نحن ؟</h1>
          <p style="font-size:110%; text-align: justify; direction: rtl;">
              في عام 1984, رأت مجموعة من النساء الكويتيات بأهمية إنشاء مركز في الكويت يشخص ويهتم بحالات الأطفال ذوي صعوبات التعلم حيث أنهن لم يجدن من ينصحهن محلياً لمعالجة هذه المشكلات, فقمن بإنشاء المركز كجمعية نفع عام في منطقة الشويخ (ثم انتقل إلى منطقة السرة) بمساعدة متبرعين من الأهل والأصدقاء ومن يؤمن بأهمية المركز.
         </p>
          <p style="font-size:110%; text-align: justify; direction: rtl;">
          تتركز مشكلات هؤلاء الأطفال بصفة عامة في صعوبات القراءة والتهجئة والكتابة والحساب، حيث يجد الكثير منهم عقبات بسبب صعوبة القراءة (الدسلكسيا)، أو صعوبة التآزر الحركي (الدسبراكسيا)، أو صعوبة الكتابة (الدسغرافيا)، أو صعوبة الرياضيات (الدسكلكوليا)، وغالبا ما يكون خليطاً متشابكاً من هذه الحالات، كما أن البعض منهم يعاني صعوبات أخرى في التركيز والانتباه وفرط النشاط ومشكلات سلوكية واجتماعية وانفعالية أخرى, وكما يهتم المركز بتشخيص ومعالجة هؤلاء الأطفال فإنه يهتم ويساعد أسرهم ومعلميهم وباقي المهن الأخرى ذات الصلة للتغلب على التحديات التي تشكلها صعوبات التعلم.
          </p>

         
          <table align="center">
          <tr>
            <th style="font-size:110%; direction: rtl;">المؤلفون</th>
          </tr>
          <tr>
            <td>د. عبدالستّار محفوظي، الكلية الاسترالية بالكويت ومركز تقويم وتعليم الطفل</td>
          </tr>
          <tr>
              <td>د. عبير الشرهان، مركز تقويم وتعليم الطفل</td>
            </tr>
            <tr>
              <td>أ.د. جون إيفرت، جامعة كانتربوري، نيوزيلندا</td>
            </tr>
            <tr>
              <td>أ. رائد الوهيب، مركز تقويم وتعليم الطفل</td>
            </tr>
            <tr>
              <td>د. جاد البحيري، الكلية الاسترالية بالكويت ومركز تقويم وتعليم الطفل</td>
            </tr>
          </table>
          <table align="center">
          <tr>
            <th style="font-size:110%; direction: rtl;">تطوير</th>
          </tr>
          <tr>
            <td>دائرة تطوير النظم و البرمجيات, قسم تطبيقات التكنلوجيا لذوي الاحتياجات الخاصة, معهد الكويت للأبحاث العلمية.</td>
          </tr>
          </table>
      

  </div>



{%endblock%}

