{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AboutUs</title>
        <link rel="stylesheet" href="{% static 'primary/styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="{% static 'images/kisrlogo.png' %}" width="200" height="100" class="rounded float-start" alt="kisrlogo">
                </div>
                <div class="col-6 text-center pageTitle">
                    بطارية فرز عسر القراءة للأطفال
                </div>
                <div class="col-3">
                    <img src="{% static 'images/ccet.jpeg' %}" width="200" height="100" class="rounded float-end" alt="ccetLOGO">
                </div>
            </div>
        </div>
        <div class="right">
            <a href="{% url 'primary:index' %}" > الرئيسية </a>
            <a href="{% url 'primary:help' %}" > مساعدة </a>
            <a href="{% url 'primary:login' %}" > دخول </a>
        </div>    
        <div class="center">
            <h1> من نحن؟ </h1>
            <p>هدف هذه البطارية هو تعرف نقاط القوة ونقاط الضعف في مجالي القراءة والإملاء بالأساس 
                ومجالات اللغة والذاكرة المتعلقة بهما لدى طلاب الجامعة.
                 وتُعطي نتائج الاختبار فكرة عامة عن نقاط قوة الطالب واحتياجاته بغرض الحصول على المساعدة المناسبة. 
                 على الرغم من أن البطارية شاملة إلا أن الغرض منها هو الفرز الأولي وليس تشخيص عسرالقراءة. 
                 وفي حال أظهرت نتائج الاختبارات علامات صعوبة شديدة، يُنصح بمراجعة مشخص مختص ومعتمد.</p>
        </div>
        <div class="right">
            <a href="{% url 'primary:about' %}" > من نحن </a>
            <a href="{% url 'primary:contact' %}" > تواصل معنا </a>
            <p>طور بواسطة معهد الكويت للأبحاث العلمية</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
    
</html>