{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'primary/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="1h-1 py-3">
        <div class="row flex-nowrap justify-content-md-between align-items-center px-5">
            <div class="col-4 pt-1">
                <a href="https://www.kisr.edu.kw"><img src="{% static 'images/kisrlogo.png' %}" width="200" height="100" class="rounded float-start" alt="kisrlogo"></a>
            </div>
            <!-- <div class="col-4 text-center fs-2 pageTitle"> -->
            <div class="col-4 text-lg-g pt-1 fw-bold fs-1" style="color: #720e9e;">
                اختبار معالجة الأصوات المقنن للأطفال
            </div>
            <div class=" col-4 d-flex justify-content-end align-items-center px-5 ">
                <a href="https://www.ccetkuwait.org"><img src="{% static 'images/ccet.jpeg' %} " width="150 " height="150 " class="rounded float-end " alt="ccetLOGO "></a>
            </div>
        </div>
    </header>

    {% if user.is_authenticated %}
    <div class="navbar navbar-expand py-0 mb-5" style="background-color:#720e9e;">
        <div class="container">
            <div class="dropdown">
                <a class="link-light fs-5 dropdown-toggle text-decoration-none mb-2 mb-lg-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="styleDropDown">
                    <a class="dropdown-item d-flex justify-content-end fs-5" href="{% url 'primary:profile' %}" method="POST" id="styleDropDown" value={{Examiners.user_id}} >
                        الحساب
                        <li class="bi bi-person-fill mx-3"></li>
                    </a>
                    <hr>
                    <a class="dropdown-item d-flex justify-content-end fs-5" href="{% url 'primary:logout' %}" id="styleDropDown">
                        خروج
                        <i class="bi bi-lock-fill mx-3"></i>
                    </a>
                </div>
            </div>
            <div class="nav justify-content-end">
                <div class="navbar navbar">
                    <div class="dropdown">
                        <a class="link-light fs-5 dropdown-toggle text-decoration-none mb-2 mb-lg-0 "href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      الأدلة
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="styleDropDown">
                            <a class="dropdown-item d-flex justify-content-end fs-5" href="{%static 'pdf/التسمية السريعة للأشكال.pdf'%}" id="styleDropDown">
                                التسمية السريعة للأشكال
                            </a>
                            <a class="dropdown-item d-flex justify-content-end fs-5" href="{%static 'pdf/التسمية السريعة للحروف.pdf'%}" id="styleDropDown">
                                التسمية السريعة للحروف
                            </a>
                            <a class="dropdown-item d-flex justify-content-end fs-5" href="{%static 'pdf/اختبار دقة قراءة الكلمات غير الحقيقية.pdf'%}"id="styleDropDown">
                                اختبار دقة قراءة الكلمات غير الحقيقية
                            </a>
                        </div>
                    </div>
                </div>
                {% if user.is_staff %}
                    <li class="nav-link mx-3"><a href="{% url 'primary:superusers'%} " class="nav-link text-light fs-5"> المستخدمين </a></li>
                {% else %}
                    <li class="nav-link mx-3"><a href="{% url 'primary:students'%} " class="nav-link text-light fs-5"> الطلاب </a></li>
                    {% if stage == "SECNDARY" or stage == "BOTH" %}
                        <li class="nav-link mx-3"><a href="" class="nav-link text-light fs-5"> اختبارات المرحلة المتوسطة </a></li>
                    {% endif %} 
                    {% if stage == "PRIMARY" or stage == "BOTH" %}
                        <li class="nav-link mx-3"><a href="{% url 'primary:students'%}" class="nav-link text-light fs-5"> اختبارات المرحلة الابتدائية  </a></li>
                    {% endif %} 
                {% endif %}
                <li class="nav-link mx-3"><a href="{% url 'primary:index' %} " class="nav-link active text-light fs-5"> الرئيسية </a></li>
                </ul>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container-fluid mb-5" style="background-color:#720e9e;">
        <div class="container">
            <ul class="nav col-12 col-md-auto mb-md-0 me-auto mb-2 mb-lg-0 justify-content-end ">
                <li class="nav-link "><a href="{% url 'primary:login' %} " class="nav-link text-light fs-5"> دخول </a></li>
                <li class="nav-link "><a href="{% url 'primary:help' %} " class="nav-link text-light fs-5"> مساعدة </a></li>
                <li class="nav-link"><a href="{% url 'primary:index' %} " class="nav-link active text-light fs-5"> الرئيسية </a></li>
            </ul>
        </div>
    </div>
    {% endif %} {% block content %}{% endblock content %}

    <div class="container-fluid mt-5" style="background-color:#720e9e">
        <footer>
            <div class="container-fluid d-flex flex-column mt-3">
                <ul class="nav justify-content-center mb-3">
                    <li class="nav-item"><a href="{% url 'primary:about' %} " class="nav-link text-light fw-bolder"> من نحن </a></li>
                    <li class="nav-item"><a href="{% url 'primary:contact' %} " class="nav-link text-light fw-bolder"> تواصل معنا </a></li>
                </ul>
                <p class="text-center text-light mt-auto"> 2023 &copy طور بواسطة معهد الكويت للأبحاث العلمية</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz " crossorigin="anonymous "></script>
</body>

</html>
