
{%extends 'primary/base.html'%}

{%load static%}
{%block content%}

<h1></h1>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<br>

<div class="container-box w-50">
<h2 class="text-lg-purple">تواصل معنا</h2>
<br>
<div class="text-center">

<address class="text-m-b fs-6">
  <strong class="text-m-b">مركز تقويم وتعليم الطفل</strong><br>
  الكويت - السرة - قطعة 4 - شارع 14<br>
  ص.ب. 5453 الصفاة
  <br>
  رمز بريدي: 13055 الكويت
<br>
  <span class="Phone" title="Phone">Phone:</span>+965-183-2000<br>
  <span class="Mobile" title="Mobile">Mobile:</span>+965-60362896<br>

</address>

<address>
  <strong class="text-m-b ">للتواصل عبر البريد الالكتروني</strong><br>
  <a href="mailto:info@ccetkuwait.org" class="color-purple fs-5" >info@ccetkuwait.org</a>
</address>
</div>
<strong class="text-m-b">وسائل التواصل الاجتماعي</strong><br>

<a href="https://twitter.com/ccetkuwait" class="icoTwitter"  title="Twitter" ><i class="fa fa-twitter color-purple" ></i></a>
<a href="https://www.facebook.com/ccetkuwait.org/" class="icoFacebook" title="Facebook" ><i class="fa fa-facebook color-purple"></i></a>
<a href="https://www.youtube.com/channel/UCnPMSDakNbuzB6otuW_rLpQ" class="icoYoutube" title="Youtube" ><i class="fa fa-youtube color-purple"></i></a>
<a href="https://www.instagram.com/ccetkuwait/" class="icoInstagram"  title="Instagram" ><i class="fa fa-instagram color-purple"></i></a>
  </div></li>

</div>

{%endblock%}
