    {%extends 'primary/base.html'%}

    {%load static%}
    {%block content%}
        <div class="container-box w-50 ">
                <br></br>
                <h1 class="text-lg-purple mb-5">مساعدة</h1>
                
                <a  style="font-size:25px; text-decoration: none; color: black ;" href="mailto:info@ccetkuwait.org" class="text-m-b fs-5"> اضغط لمراسلتنا عبر البريد الالكتروني <i class="bi bi-envelope color-purple" ></i> </a>
               
                <p class="text-m-b fs-5"> أو اتصل بنا على الرقم  18320000  <i  class="bi bi-telephone-fill color-purple"></i></p>
                
                <br></br>
                
        </div>
    {%endblock%}
    
        
        
       