{%extends 'primary/base.html'%} {%load static%} {%block content%}

<div class="container">
    <div class="text-lg-purple fs-2 mb-5 ">  اختبار حذف المقاطع الأصوات - الفقرات التدريبية  </div>
    <div class="card my-3 mx-auto color-green" style="width:1100px; border-color:#568203;">
        <div class=" d-grid" style="margin-top:10px; padding-right: 30px;" >
            <p class="text-m-b" style="direction: rtl;">اضغط على الزر <i class="bi bi-headphones" style="font-size: 30px;"></i> لتشغيل الصوت</p>
        </div>
        <div class="card-body text-center" id="questions" >   
            <table class="table table-bordered" style="direction: rtl; font-size: 20px; border-color:#CC99CC;">
                <thead>
                    <tr>
                        <th style="background-color:#CC99CC">الفقرات التدريبية</th>
                        <th style="background-color:#CC99CC">الاجابه الصحيحة</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >قل: عبدالرحمن . الان قل: عبدالرحمن من غير أن تقول الرحمن <a type="button" onclick="playAudio1()"> <i class="bi bi-headphones" style="font-size: 25px;"></i></a> </th> 
                        <td>عبد</td>
                    </tr>
                    <tr>
                        <th>قل: سمك البحر . الان قل: سمك البحر من غير أن تقول البحر <a type="button"  onclick="playAudio2()"> <i class="bi bi-headphones" style="font-size: 25px;"></i></a> </th>
                        <td>سمك</td>
                    </tr>
                    <tr>
                        <th>قل: بطريق  . الان قل: بطريق من غير أن تقول ريق <a type="button"  onclick="playAudio3()"> <i class="bi bi-headphones" style="font-size: 25px;"></i></a> </th>
                          <td>بط</td>
                    </tr>
                    <tr>
                        <th>قل: جبل . الان قل: جبل من غير أن تقول جـ <a type="button"  onclick="playAudio4()"> <i class="bi bi-headphones" style="font-size: 25px;"></i></a> </th>
                        <td>بل</td>
                    </tr>
                </tbody>
            </table>
            <a type="submit" href="{% url 'primary:phonemeSyllableDel' %}" class="btn-light-purple text-decoration-none">بدء الاختبار</a>
        </div>
    </div> 
</div>

<script>
    function playAudio1(){
        s1 =  new Audio(src="{% static 'audios/tst2-a.mp3' %}");
        s1.play()
    }
    function playAudio2(){
        s1 =  new Audio(src="{% static 'audios/tst2-b.mp3' %}");
        s1.play()
    }
    function playAudio3(){
        s1 =  new Audio(src="{% static 'audios/tst2-c.mp3' %}");
        s1.play()
    }
    function playAudio4(){
        s1 =  new Audio(src="{% static 'audios/tst2-d.mp3' %}");
        s1.play()
    }
</script>

{%endblock%}