{%extends 'primary/base.html'%} {%load static%} {%block content%}
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

<div class="container my-5"> 
    <div class="text-lg-g col-12 text-center fs-2 pageTitle "> اختبار حذف المقاطع والأصوات </div>  
    <div class="card my-4 mx-auto" style="width:1300px; border-color:#99CC00;">
        <div class=" d-grid" style="margin-top:10px; padding-right: 30px;" >
            <p style="direction: rtl; font-size: 25px;">اضغط على الزر <i class="bi bi-headphones" style="font-size: 30px;"></i> لتشغيل الصوت</p>
        </div>
        <div class="card-body text-center" id="questions" >   
            <form hx-post="{% url 'primary:phonemeSyllableDel' %}" hx-target="#end" hx-swap="innerText"  class="form-horizontal col-12" id="questionsForm" style="float:right; direction: rtl;"  >
                {% csrf_token%}
                <div class="col-9" style="float: right;">
                    <table class="table table-striped table-bordered" style=" font-size: 20px;">
                        <thead>
                        <tr>
                            <th>السؤال </th>
                            <th style="text-align: center;">الاجابه الصحيحة</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>قل: فرس النهر . الان قل فرس النهر من غير ان تقول فرس   <a id="a" type="button" onclick="playAudio1()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th> 
                                <td style="text-align: center; height: 51px;">النهر</td>
                            </tr>
                            <tr>
                                <th>قل:  <a id="b" type="button"  onclick="playAudio2()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="c" onclick="playAudio3()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="d" onclick="playAudio4()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="e" onclick="playAudio5()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="f" onclick="playAudio6()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="g" onclick="playAudio7()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="h" onclick="playAudio8()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="i" onclick="playAudio9()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="j" onclick="playAudio10()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="k" onclick="playAudio11()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="l" onclick="playAudio12()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="m" onclick="playAudio13()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;" >---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="n" onclick="playAudio14()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="o" onclick="playAudio15()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="p" onclick="playAudio16()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="q" onclick="playAudio17()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="r" onclick="playAudio18()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="s" onclick="playAudio19()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                            <tr>
                                <th>قل:  <a type="button" id="t" onclick="playAudio20()"> <i class="bi bi-headphones" style="font-size: 20px;"></i></a> </th>
                                <td style="text-align: center;  height: 51px;">---</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-2" style="float: left; ">
                    <table class="table table-borderless" style=" font-size: 20px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">تسجيل الاجابه</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="1" name = "selection" value="1" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="1"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="2" name = "selection" value="2" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray; margin-top: 1px;"  for="2"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="3" name = "selection" value="3" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="3"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="4" name = "selection" value="4" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="4"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="5" name = "selection" value="5" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="5"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="6" name = "selection" value="6" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="6"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="7" name = "selection" value="7" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="7"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="8" name = "selection" value="8" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="8"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="9" name = "selection" value="9" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="9"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="10" name = "selection" value="10" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="10"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="11" name = "selection" value="11" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="11"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="12" name = "selection" value="12" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="12"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="13" name = "selection" value="13" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="13"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="14" name = "selection" value="14" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="14"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="15" name = "selection" value="15" autocomplete="off">
                                    <label class="btn btn-outline-success" style=" width:190px; height: 35px; border-color: darkgray;"  for="15"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="16" name = "selection" value="16" autocomplete="off">
                                    <label class="btn btn-outline-success" style=" width:190px; height: 35px; border-color: darkgray;"  for="16"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="17" name = "selection" value="17" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="17"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="18" name = "selection" value="18" autocomplete="off">
                                    <label class="btn btn-outline-success" style=" width:190px; height: 35px; border-color: darkgray;"  for="18"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="19" name = "selection" value="19" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="19"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"  class="btn-check" id="20" name = "selection" value="20" autocomplete="off">
                                    <label class="btn btn-outline-success"  style=" width:190px; height: 35px; border-color: darkgray;"  for="20"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
                <input id="end" type="submit" name="formtypeA" class=" btn d-grid mx-auto " value="تسليم الاختبار" data-toggle="modal" data-target="#ModalsubmitTest{{Students.id}}" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 1100px;">             </form>
        </div>
    </div>
</div>

<!-- modal for submit tst -->
<div class="modal fade" id="ModalsubmitTest{{Students.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form class="form-horizontal" action="" method="POST" >
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4" id="labelText" style="color: #0059a0">
                    <h5 class="modal-title mb-0 w-100 text-center fs-3 color-purple"> هل أنت متأكد من تسليم الاختبار؟ </h5>
                </div>
                <div class="modal-body" style="direction: rtl;">
                    <label for="submitTst" class="form-label" >يرجى الاختيار من القائمة </label>
                    <select id="submitTst" name ="submitTst" class="form-select" Required>
                        <option value="تم الانتهاء من بنود الاختبار كلها " selected>تم الانتهاء من بنود الاختبار كلها </option>
                        <option value="توقف لأسباب صحية أو شخصية خاصة بالطالب" >توقف لأسباب صحية أو شخصية خاصة بالطالب</option>
                        <option value="توقف لأسباب صحية أو شخصية خاصة بالفاحص">توقف لأسباب صحية أو شخصية خاصة بالفاحص</option>
                        <option value="أسباب أخرى">أسباب أخرى </option>
                    </select>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <!-- <button type="button"  class="btn fs-6 btn-secondary col-6 py-3 m-0 rounded-0" data-dismiss="modal">الغاء</button> -->
                    <!-- <input id="end" onclick="calcDiff()" type="submit" value=" انهاء الوقت / الاختبار" name="formtype2" class="btn" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 20px;"> -->
                    <input id="submitDropDown" type="submit" name="formtypeB" value=" تسليم الاختبار "  class="btn btn-danger fs-12 col-12 py-3 m-0 rounded-0 " style="background-color: #720e9e; border-color: #720e9e; ">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function playAudio1(){
        document.getElementById('a').style.color = 'blue';
        s1 =  new Audio(src="{% static 'audios/tst2-1.mp3' %}");
        s1.play()
    }
    function playAudio2(){
        document.getElementById('b').style.color = 'blue';
        s1 =  new Audio(src="{% static 'audios/tst2-2.mp3' %}");
        s1.play()
    }
    function playAudio3(){
        document.getElementById('c').style.color = 'blue';
        s1 =  new Audio(src="{% static 'audios/tst2-3.mp3' %}");
        s1.play()
    }
    function playAudio4(){
        document.getElementById('d').style.color = 'blue';
        s1 =  new Audio(src="{% static 'audios/tst2-4.mp3' %}");
        s1.play()
    }
</script>

{%endblock%}