{%extends 'primary/base.html'%} {%load static%} {%block content%}

<div class="container my-5"> 
    <div class="text-lg-g col-12 text-center fs-3 pageTitle ">  اختبار حذف المقاطع والأصوات   </div>
    <div class="card my-3  mx-auto" style="width:900px; border-color:#99CC00;">
        <div class="text-lg-g col-12 fs-4 ">   الفقرات التدريبية   </div>
        <div class=" d-grid" style="margin-top:20px; padding-right: 30px;" >
            <form class="form-horizontal" id="startBtnForm" hx-post="{% url 'primary:rpdNamingObjTst' %}" hx-target="#start" hx-swap="innerText" >
                {% csrf_token%}
                <input id="start" type="submit" onclick="startTime()" value=" بدء الاختبار "  name="formtype1" class="btn" style="float:right; background-color: #CC99CC; color: black; font-weight: bold; margin-top: 5px;">
            </form>
        </div>
        <div id="timer" style="direction: rtl; margin-right: 60px; display: none;">
            <label id="seconds">00</label>:<label id="minutes">00</label>
        </div>
        <div class="card-body text-center" id="questions" >   
            <form class="form-horizontal col-10" id="endBtnForm" style="float:right;" hx-post="{% url 'primary:rpdNamingObjTst' %}" hx-target="#end" hx-swap="innerText" >
                {% csrf_token%}
                <div class=" col-xs-offset-4 ">
                </div>
                
                <div style="padding-right: 520px;">
                    <input id="end" type="submit" name="formtype2" onclick="calcDiff()" class=" btn " value="انهاء الوقت / الاختبار" data-toggle="modal" data-target="#ModalsubmitTest{{Students.id}}" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 200px;"> 
                </div>
            </form>  
        </div>
        <!-- modal for submit tst -->
        <div class="modal fade" id="ModalsubmitTest{{Students.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <form class="form-horizontal" action="" method="POST" >
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-header p-4" id="labelText" style="color: #0059a0">
                            <h5 class="modal-title mb-0 w-100 text-center fs-3"> هل أنت متأكد من تسليم الاختبار؟ </h5>
                        </div>
                        <div class="modal-body" style="direction: rtl;">
                            <label for="submitTst" class="form-label" >يرجى الاختيار من القائمة </label>
                            <select id="submitTst" name ="submitTst" class="form-select" Required>
                                <option value="تم الانتهاء من بنود الاختبار كلها " selected>تم الانتهاء من بنود الاختبار كلها </option>
                                <option value="توقف لأسباب صحية أو شخصية خاصة بالطالب" >توقف لأسباب صحية أو شخصية خاصة بالطالب</option>
                                <option value="توقف لأسباب صحية أو شخصية خاصة بالفاحص">توقف لأسباب صحية أو شخصية خاصة بالفاحص</option>
                                <option value="أسباب أخرى">أسباب أخرى </option>
                            </select>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <input id="submitDropDown" type="submit" name="formtype3" value=" تسليم النموذج  "  class="btn btn-danger fs-12 col-12 py-3 m-0 rounded-0 " >
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</div>

{%endblock%}