{%extends 'primary/base.html'%} {%load static%} {%block content%}

<div class="container my-5"> 
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> الفقرة التدريبية </div>  
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingObjTraining.png' %}"  class="img-fluid" alt="...">
    </div>
    <div>
        <a class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>


{%endblock%}