{%extends 'primary/base.html'%} {%load static%} {%block content%}
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

<div class="container">

    <div class="text-lg-g fs-2 mb-5">  اختبار التسمية السريعةللحروف - نموذج (أ) </div>  

    <div class="card my-3 mx-auto color-green" style="width:900px; border-color:#568203;">
        <h2 class="card-title text-center fs-5 p-1 color-green" style="color:white; height:35px;" >النموذج (أ)</h2>
        <div class="d-grid" style="margin-top:10px; padding-right:30px;" >
            <form class="form-horizontal" id="startBtnForm" hx-post="{% url 'primary:rpdNamingLtrTst' %}" hx-target="#start" hx-swap="innerText" >
                {% csrf_token%}
                <input id="start" type="submit" onclick="startTime()" value=" بدء الاختبار "  name="formtype1" class="btn-purple" style="float:right;">
                <!-- <button onclick="" type="submit" name="form_type" value="formTwo" class="btn" style="float:right; font-weight: bold;  background-color: #CC99CC; " > بدء الاختبار</button> -->
                <!-- <button  name="endTimeBtn" id = 'endTimeBtn' type="button" form="selectBox" class="btn" style="float:right;  background-color: #CC99CC; " >End Time</button> -->
            </form>
        </div>
        <div id="timer" style="direction: rtl; margin-right: 60px; display: none;">
            <label id="seconds">00</label>:<label id="minutes">00</label>
        </div>
        <div class="card-body text-center" id="questions" >   
            <form class="form-horizontal col-10" id="endBtnForm" style="float:right;" hx-post="{% url 'primary:rpdNamingLtrTst' %}" hx-target="#end" hx-swap="innerText" >
                {% csrf_token%}
                <div class=" col-xs-offset-4 ">
                </div>
                <div class="form-check" style="direction:rtl ;" >
                    <input type="checkbox"  class="btn-check" id="n" name = "selection" value="n" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="n">ن </label>
                    <input type="checkbox"  class="btn-check" id="l" name="selection" value="l" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="l">ل</label>
                    <input type="checkbox"  class="btn-check" id="y" value="y" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="y"> ي</label>
                    <input type="checkbox" class="btn-check" id="m" value="m" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="m"> م</label>
                    <input type="checkbox" class="btn-check" id="z" value="z" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="z"> ز</label>
                    <input type="checkbox" class="btn-check" id="k" value="k" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="k"> ك</label>
                    <input type="checkbox" class="btn-check" id="b" value="b" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="b"> ب</label>
                    <input type="checkbox" class="btn-check" id="w" value="w"  name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="w">و</label>
                    <input type="checkbox" class="btn-check" id="s" value="s" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="s"> س</label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px" >
                    <input type="checkbox" class="btn-check" id="t" value="t" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)"  for="t">ط </label>
                    <input type="checkbox" class="btn-check" id="a" value="a" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="a"> ع</label>
                    <input type="checkbox" class="btn-check" id="h" value="h" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="h"> هـ</label>
                    <input type="checkbox" class="btn-check" id="k2" value="k2" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="k2"> ك</label>
                    <input type="checkbox" class="btn-check" id="z2" value="z2" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="z2"> ز</label>
                    <input type="checkbox" class="btn-check" id="l2" value="l2" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="l2"> ل</label>
                    <input type="checkbox" class="btn-check" id="m2" value="m2" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="m2"> م</label>
                    <input type="checkbox" class="btn-check" id="y2" value="y2" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="y2"> ي</label>
                    <input type="checkbox" class="btn-check" id="n2" value="n2" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="n2">ن </label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px" >
                    <input type="checkbox" class="btn-check" id="b3" value="b3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="b3">ب</label>
                    <input type="checkbox" class="btn-check" id="t3" value="t3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="t3"> ط</label>
                    <input type="checkbox" class="btn-check" id="s3" value="s3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="s3"> س</label>
                    <input type="checkbox" class="btn-check" id="w3" value="w3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="w3"> و</label>
                    <input type="checkbox" class="btn-check" id="h3" value="h3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="h3"> هـ</label>
                    <input type="checkbox" class="btn-check" id="a3" value="a3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="a3"> ع</label>
                    <input type="checkbox" class="btn-check" id="l3" value="l3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="l3"> ل</label>
                    <input type="checkbox" class="btn-check" id="k3" value="k3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="k3"> ك</label>
                    <input type="checkbox" class="btn-check" id="y3" value="y3" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="y3">ي</label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px" >
                    <input type="checkbox" class="btn-check" id="t4" value="t4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="t4">ط</label>
                    <input type="checkbox" class="btn-check" id="m4" value="m4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="m4"> م</label>
                    <input type="checkbox" class="btn-check" id="n4" value="n4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="n4"> ن</label>
                    <input type="checkbox" class="btn-check" id="h4" value="h4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="h4"> هـ</label>
                    <input type="checkbox" class="btn-check" id="s3" value="s4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="s4"> س</label>
                    <input type="checkbox" class="btn-check" id="z4" value="z4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="z4"> ز</label>
                    <input type="checkbox" class="btn-check" id="w4" value="w4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="w4"> و</label>
                    <input type="checkbox" class="btn-check" id="b4" value="b4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="b4"> ب</label>
                    <input type="checkbox" class="btn-check" id="a4" value="a4" name = "selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="a4"> ع</label>
                </div>
                <div style="padding-right: 480px;">
                    <input id="end" type="submit" name="formtype2" onclick="calcDiff()" class=" btn-purple" value="انهاء الوقت / الاختبار" data-toggle="modal" data-target="#ModalsubmitTest{{Students.id}}" style="margin-top: 20px;"> 
                </div>
            </form>
            <div class="col-2 d-grid mx-auto" >
                <span class="input-group-text" style="border-color:#CC99CC; background-color: white; border-radius: 0%; direction: rtl;">الزمن  </span>
                <label id="result1" style="border-color:#CC99CC; background-color: #CC99CC;border-radius: 0%; direction: rtl">----</label>
                <span class="input-group-text" style="border-color:#CC99CC; background-color: white; border-radius: 0%; direction: rtl;"> عدد الأخطاء </span>
                <label id="result2" style="border-color:#CC99CC; background-color: #CC99CC;border-radius: 0%;">0</label>
                <span class="input-group-text" style="border-color:#CC99CC; background-color: white; border-radius: 0%; direction: rtl;">  الزمن مع الأخطاء </span>
                <label id="result3" style="border-color:#CC99CC; background-color: #CC99CC;border-radius: 0%; direction: rtl;">----</label>
            </div>  
        </div>
        <!-- modal for submit tst -->
        <div class="modal fade" id="ModalsubmitTest{{Students.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <form class="form-horizontal" action="" method="POST" >
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-header p-4" id="labelText" style="color: #0059a0">
                            <h5 class="modal-title mb-0 w-100 text-center fs-3 color-purple"> هل أنت متأكد من تسليم الاختبار؟ </h5>
                        </div>
                        <div class="modal-body" style="direction: rtl;">
                            <label for="submitTst" class="form-label" >يرجى الاختيار من القائمة </label>
                            <select id="submitTst" name ="submitTst" class="form-select" Required>
                                <option value="تم الانتهاء من بنود الاختبار كلها " selected>تم الانتهاء من بنود الاختبار كلها </option>
                                <option value="توقف لأسباب صحية أو شخصية خاصة بالطالب" >توقف لأسباب صحية أو شخصية خاصة بالطالب</option>
                                <option value="توقف لأسباب صحية أو شخصية خاصة بالفاحص">توقف لأسباب صحية أو شخصية خاصة بالفاحص</option>
                                <option value="أسباب أخرى">أسباب أخرى </option>
                            </select>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <!-- <button type="button"  class="btn fs-6 btn-secondary col-6 py-3 m-0 rounded-0" data-dismiss="modal">الغاء</button> -->
                            <!-- <input id="end" onclick="calcDiff()" type="submit" value=" انهاء الوقت / الاختبار" name="formtype2" class="btn" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 20px;"> -->
                            <input id="submitDropDown" type="submit" name="formtype3" value=" تسليم النموذج  "  class="btn btn-danger fs-12 col-12 py-3 m-0 rounded-0 " style="background-color: #720e9e; border-color: #720e9e; ">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    count = 0;
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var totalSeconds = 0;
    var start = null ;
    var end = null ;

    function startTime(){
        setInterval(setTime, 1000);
        //document.getElementById("questions").style.visibility="visible";
        document.getElementById("timer").style.display="block";
        start = new Date();
        console.log(start);
    }
    function calcDiff(){
        end = new Date();
        document.getElementById("timer").style.visibility="hidden";

        dif = Math.round((end - start) / 1000);
        document.getElementById("result1").innerText =  dif + " ث " ;
        document.getElementById("result3").innerText =  dif + count + " ثانية ";

    }
    function btn_clicked(btn){
        if (btn.style.backgroundColor == "") {
            count++;
            btn.style.backgroundColor = "red";
            document.getElementById('result2').innerText = count;
        } else {
            count = count - 1;
            btn.style.backgroundColor = "";
            document.getElementById('result2').innerText = count;
        }
    }
    function setTime() {
        ++totalSeconds;
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
    }
    function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }
</script>
{%endblock%}


