{%extends 'primary/base.html'%} {%load static%} {%block content%}
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

<div class="container">

    <div class="text-lg-green fs-2 mb-5"> اختبار التسمية السريعة للصور - نموذج (أ) </div>

    <div class="card my-3 mx-auto color-green" style="width:1100px; border-color:rgb(55, 73, 26);">
        <h2 class="card-title text-center fs-4 p-2" style="color:white; height:45px; background-color:rgb(55, 73, 26);">النموذج (أ)</h2>
        <div class="d-grid" style="margin-top:10px; padding-right:30px;">
            <form class="form-horizontal" id="startBtnForm" hx-post="{% url 'primary:rpdNamingObjSecA' %}" hx-target="#start" hx-swap="innerText" hx-trigger="click" method="post">
                {% csrf_token%}
                <input type="hidden" name="formtype1" value="true">
                <input id="start" type="submit" onclick="startTime()" value=" بدء الاختبار " name="formtype1" class="btn-green" style="float:right;">
                <!-- <button onclick="" type="submit" name="form_type" value="formTwo" class="btn" style="float:right; font-weight: bold;  background-color: #CC99CC; " > بدء الاختبار</button> -->
                <!-- <button  name="endTimeBtn" id = 'endTimeBtn' type="button" form="selectBox" class="btn" style="float:right;  background-color: #CC99CC; " >End Time</button> -->
            </form>
        </div>
        <div id="timer" style="direction: rtl; margin-right: 60px; display: none; font-size: 20px;">
            <label id="seconds">00</label>:<label id="minutes">00</label>
        </div>
        <div class="card-body text-center" id="questions">
            <form class="form-horizontal col-9" id="endBtnForm" style="float:right;" hx-post="{% url 'primary:rpdNamingObjSecA' %}" hx-target="#end" hx-swap="innerText" disabled>
                {% csrf_token%}
                <div class=" col-xs-offset-4 ">
                </div>
                <div class="form-check" style="direction:rtl ;">
                    <input type="checkbox" class="btn-check" id="horse" name="selection" value="horse" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="horse" style="border-color: rgb(55, 73, 26);">حصان </label>
                    <input type="checkbox" class="btn-check" id="bike" name="selection" value="bike" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="bike" style="border-color: rgb(55, 73, 26);">دراجة </label>
                    <input type="checkbox" class="btn-check" id="crocodile" value="crocodile" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="crocodile" style="border-color: rgb(55, 73, 26);"> تمساح</label>
                    <input type="checkbox" class="btn-check" id="mosque" value="mosque" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="mosque" style="border-color: rgb(55, 73, 26);"> مسجد</label>
                    <input type="checkbox" class="btn-check" id="piano" value="piano" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="piano" style="border-color: rgb(55, 73, 26);"> بيانو</label>
                    <input type="checkbox" class="btn-check" id="palm" value="palm" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="palm" style="border-color: rgb(55, 73, 26);"> نخلة</label>
                    <input type="checkbox" class="btn-check" id="ship" value="ship" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="ship" style="border-color: rgb(55, 73, 26);"> سفينة</label>
                    <input type="checkbox" class="btn-check" id="octopus" value="octopus" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="octopus" style="border-color: rgb(55, 73, 26);">أُخطبوط </label>
                    <input type="checkbox" class="btn-check" id="chair" value="chair" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="chair" style="border-color: rgb(55, 73, 26);"> كرسي</label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px">
                    <input type="checkbox" class="btn-check" id="scale" value="scale" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="scale" style="border-color: rgb(55, 73, 26);">ميزان </label>
                    <input type="checkbox" class="btn-check" id="telescope" value="telescope" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="telescope" style="border-color: rgb(55, 73, 26);"> مجهر</label>
                    <input type="checkbox" class="btn-check" id="oud" value="oud" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="oud" style="border-color: rgb(55, 73, 26);"> عود</label>
                    <input type="checkbox" class="btn-check" id="horse2" value="horse2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="horse2" style="border-color: rgb(55, 73, 26);"> حصان</label>
                    <input type="checkbox" class="btn-check" id="mosque2" value="mosque2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="mosque2" style="border-color: rgb(55, 73, 26);"> مسجد</label>
                    <input type="checkbox" class="btn-check" id="piano2" value="piano2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="piano2" style="border-color: rgb(55, 73, 26);"> بيانو</label>
                    <input type="checkbox" class="btn-check" id="crocodile2" value="crocodile2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="crocodile2" style="border-color: rgb(55, 73, 26);"> تمساح</label>
                    <input type="checkbox" class="btn-check" id="bike2" value="bike2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="bike" style="border-color: rgb(55, 73, 26);"> دراجة</label>
                    <input type="checkbox" class="btn-check" id="octopus2" value="octopus2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="octopus2" style="border-color: rgb(55, 73, 26);">أُخطبوط </label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px">
                    <input type="checkbox" class="btn-check" id="palm2" value="palm2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="palm2" style="border-color: rgb(55, 73, 26);">نخلة </label>
                    <input type="checkbox" class="btn-check" id="octopus3" value="octopus3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="octopus3" style="border-color: rgb(55, 73, 26);">أُخطبوط </label>
                    <input type="checkbox" class="btn-check" id="chair2" value="chair2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="chair2" style="border-color: rgb(55, 73, 26);"> كرسي</label>
                    <input type="checkbox" class="btn-check" id="piano3" value="piano3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="piano3" style="border-color: rgb(55, 73, 26);"> بيانو</label>
                    <input type="checkbox" class="btn-check" id="horse3" value="horse3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="horse3" style="border-color: rgb(55, 73, 26);"> حصان</label>
                    <input type="checkbox" class="btn-check" id="ship2" value="ship2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="ship2" style="border-color: rgb(55, 73, 26);"> سفينة</label>
                    <input type="checkbox" class="btn-check" id="scale2" value="scale2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="scale2" style="border-color: rgb(55, 73, 26);"> ميزان</label>
                    <input type="checkbox" class="btn-check" id="telescope2" value="telescope2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="telescope2" style="border-color: rgb(55, 73, 26);"> مجهر</label>
                    <input type="checkbox" class="btn-check" id="oud2" value="oud2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="oud2" style="border-color: rgb(55, 73, 26);"> عود</label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px">
                    <input type="checkbox" class="btn-check" id="telescope3" value="telescope3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="telescope3" style="border-color: rgb(55, 73, 26);">مجهر </label>
                    <input type="checkbox" class="btn-check" id="crocodile3" value="crocodile3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="crocodile3" style="border-color: rgb(55, 73, 26);"> تمساح</label>
                    <input type="checkbox" class="btn-check" id="scale3" value="scale3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="scale3" style="border-color: rgb(55, 73, 26);"> ميزان</label>
                    <input type="checkbox" class="btn-check" id="mosque3" value="mosque3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="mosque3" style="border-color: rgb(55, 73, 26);"> مسجد</label>
                    <input type="checkbox" class="btn-check" id="bike3" value="bike3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="bike3" style="border-color: rgb(55, 73, 26);"> دراجة</label>
                    <input type="checkbox" class="btn-check" id="chair3" value="chair3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="chair3" style="border-color: rgb(55, 73, 26);"> كرسي</label>
                    <input type="checkbox" class="btn-check" id="oud3" value="oud3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="oud3" style="border-color: rgb(55, 73, 26);"> عود</label>
                    <input type="checkbox" class="btn-check" id="palm3" value="palm3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="palm3" style="border-color: rgb(55, 73, 26);"> نخلة</label>
                    <input type="checkbox" class="btn-check" id="ship3" value="ship3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="ship3" style="border-color: rgb(55, 73, 26);"> سفينة</label>
                </div>
                <div style="padding-right: 575px;">
                    <input id="end" type="submit" name="formtype2" onclick="calcDiff()" class=" btn-green" value="انهاء الوقت / الاختبار" data-toggle="modal" data-target="#ModalsubmitTest{{Students.id}}" style="margin-top: 20px;" disabled>
                </div>
            </form>
            <div class="col-2 d-grid mx-auto">
                <span class="input-group-text" style="border-color:rgb(55, 73, 26); background-color: white; border-radius: 0%; direction: rtl; font-size:20px; font-weight:bolder;">الزمن  </span>
                <label id="result1" style="border-color:rgb(55, 73, 26); background-color: rgb(55, 73, 26);border-radius: 0%; direction: rtl;font-size:20px; font-weight:bolder; color:white;">----</label>
                <span class="input-group-text" style="border-color:rgb(55, 73, 26); background-color: white; border-radius: 0%; direction: rtl;font-size:20px; font-weight:bolder;"> عدد الأخطاء </span>
                <label id="result2" style="border-color:rgb(55, 73, 26); background-color: rgb(55, 73, 26);border-radius: 0%;font-size:20px; font-weight:bolder; color:white;">0</label>
                <span class="input-group-text" style="border-color:rgb(55, 73, 26); background-color: white; border-radius: 0%; direction: rtl;font-size:20px; font-weight:bolder;">  الزمن مع الأخطاء </span>
                <label id="result3" style="border-color:rgb(55, 73, 26); background-color: rgb(55, 73, 26);border-radius: 0%; direction: rtl;font-size:20px; font-weight:bolder; color:white;">----</label>
            </div>
        </div>
        <!-- modal for submit tst -->
        <div class="modal fade" id="ModalsubmitTest{{Students.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <form class="form-horizontal" action="" method="POST">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-header p-4" id="labelText" style="color: rgb(55, 73, 26);">
                            <h5 class="modal-title mb-0 w-100 text-center fs-2" style="color:rgb(55, 73, 26);"> هل أنت متأكد من تسليم الاختبار؟ </h5>
                        </div>
                        <div class="modal-body fs-5" style="direction: rtl;">
                            <label for="submitTst" class="form-label">يرجى الاختيار من القائمة </label>
                            <select id="submitTst" name="submitTst" class="form-select fs-5" Required>
                                <option value="تم الانتهاء من بنود الاختبار كلها " selected>تم الانتهاء من بنود الاختبار كلها </option>
                                <option value="توقف لأسباب صحية أو شخصية خاصة بالطالب" >توقف لأسباب صحية أو شخصية خاصة بالطالب</option>
                                <option value="توقف لأسباب صحية أو شخصية خاصة بالفاحص">توقف لأسباب صحية أو شخصية خاصة بالفاحص</option>
                                <option value="أسباب أخرى">أسباب أخرى </option>
                            </select>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <!-- <button type="button"  class="btn fs-6 btn-secondary col-6 py-3 m-0 rounded-0" data-dismiss="modal">الغاء</button> -->
                            <!-- <input id="end" onclick="calcDiff()" type="submit" value=" انهاء الوقت / الاختبار" name="formtype2" class="btn" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 20px;"> -->
                            <input id="submitDropDown" type="submit" name="formtype3" value=" تسليم النموذج  " class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " style="background-color: rgb(55, 73, 26); border-color: rgb(55, 73, 26); ">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    count = 0;
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var totalSeconds = 0;
    var start = null;
    var end = null;

    function startTime() {
        document.getElementById("start").disabled = true;
        setInterval(setTime, 1000);
        //document.getElementById("questions").style.visibility="visible";
        document.getElementById("timer").style.display = "block";
        //document.getElementById("start").disabled=true;
        // Enable the form
        document.getElementById("endBtnForm").removeAttribute("disabled");
        document.getElementById("end").removeAttribute("disabled");
        start = new Date();
        console.log(start);
    }


    function calcDiff() {
        end = new Date();
        document.getElementById("timer").style.visibility = "hidden";

        dif = Math.round((end - start) / 1000);
        document.getElementById("result1").innerText = dif + " ث ";
        document.getElementById("result3").innerText = dif + count + " ثانية ";

    }

    function btn_clicked(btn) {
        // Check if the form is disabled
        var isFormDisabled = document.getElementById("endBtnForm").hasAttribute("disabled");

        if (isFormDisabled) {
            // Prevent the default behavior (changing background color) when form is disabled
            event.preventDefault();
            return;
        }
        if (!btn.disabled) {
            console.log("button is not disabled");
            if (btn.style.backgroundColor == "") {
                count++;
                btn.style.backgroundColor = "red";
                document.getElementById('result2').innerText = count;
            } else {
                count = count - 1;
                btn.style.backgroundColor = "";
                document.getElementById('result2').innerText = count;
            }
        }
    }

    function setTime() {
        ++totalSeconds;
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
    }

    function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }
</script>
{%endblock%}