{%extends 'primary/base.html'%} {%load static%} {%block content%}
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

<div class="container">

    <div class="text-lg-green fs-2 mb-5"> اختبار التسمية السريعة للصور - نموذج (ب) </div>

    <div class="card my-3 mx-auto color-green" style="width:1100px; border-color:rgb(55, 73, 26);">
        <h2 class="card-title text-center fs-4 p-2" style="color:white; height:45px; background-color:rgb(55, 73, 26);">النموذج (ب)</h2>
        <div class="d-grid" style="margin-top:10px; padding-right:30px;">
            <form class="form-horizontal" id="startBtnForm" hx-post="{% url 'primary:rpdNamingObjSecB' %}" hx-target="#start" hx-swap="innerText" hx-trigger="click" method="post">
                {% csrf_token%}
                <input type="hidden" name="formtype1" value="true">
                <input id="start" type="submit" onclick="startTime()" value=" بدء الاختبار " name="formtype1" class="btn-light-purple" style="float:right;">
                <!-- <button onclick="" type="submit" name="form_type" value="formTwo" class="btn" style="float:right; font-weight: bold;  background-color: #CC99CC; " > بدء الاختبار</button> -->
                <!-- <button  name="endTimeBtn" id = 'endTimeBtn' type="button" form="selectBox" class="btn" style="float:right;  background-color: #CC99CC; " >End Time</button> -->
            </form>
        </div>
        <div id="timer" style="direction: rtl; margin-right: 60px; display: none; font-size: 20px;">
            <label id="seconds">00</label>:<label id="minutes">00</label>
        </div>
        <div class="card-body text-center" id="questions">
            <form class="form-horizontal col-9" id="endBtnForm" style="float:right;" hx-post="{% url 'primary:rpdNamingObjSecB' %}" hx-target="#end" hx-swap="innerText" disabled>
                {% csrf_token%}
                <div class=" col-xs-offset-4 ">
                </div>
                <div class="form-check" style="direction:rtl ;">
                    <input type="checkbox" class="btn-check" id="plane" name="selection" value="plane" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="plane" style="border-color: rgb(55, 73, 26);">طيارة </label>
                    <input type="checkbox" class="btn-check" id="car" name="selection" value="car" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="car" style="border-color: rgb(55, 73, 26);">سيارة </label>
                    <input type="checkbox" class="btn-check" id="compass" value="compass" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="compass" style="border-color: rgb(55, 73, 26);"> فرجار</label>
                    <input type="checkbox" class="btn-check" id="kd" value="kd" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="kd" style="border-color: rgb(55, 73, 26);"> دينار</label>
                    <input type="checkbox" class="btn-check" id="island" value="island" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="island" style="border-color: rgb(55, 73, 26);"> جزيرة</label>
                    <input type="checkbox" class="btn-check" id="spout" value="spout" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="spout" style="border-color: rgb(55, 73, 26);"> صنبور</label>
                    <input type="checkbox" class="btn-check" id="camel" value="camel" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="camel" style="border-color: rgb(55, 73, 26);"> جمل</label>
                    <input type="checkbox" class="btn-check" id="train" value="train" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="train" style="border-color: rgb(55, 73, 26);">قطار </label>
                    <input type="checkbox" class="btn-check" id="triangle" value="triangle" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="triangle" style="border-color: rgb(55, 73, 26);"> مثلث</label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px">
                    <input type="checkbox" class="btn-check" id="pineapple" value="pineapple" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="pineapple" style="border-color: rgb(55, 73, 26);">أناناس </label>
                    <input type="checkbox" class="btn-check" id="hammer" value="hammer" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="hammer" style="border-color: rgb(55, 73, 26);"> مطرقة</label>
                    <input type="checkbox" class="btn-check" id="secar" value="secar" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="secar" style="border-color: rgb(55, 73, 26);"> مقص</label>
                    <input type="checkbox" class="btn-check" id="plane2" value="plane2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="plane2" style="border-color: rgb(55, 73, 26);"> طيارة</label>
                    <input type="checkbox" class="btn-check" id="train2" value="train2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="train2" style="border-color: rgb(55, 73, 26);"> قطار</label>
                    <input type="checkbox" class="btn-check" id="triangle2" value="triangle2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="triangle2" style="border-color: rgb(55, 73, 26);"> مثلث</label>
                    <input type="checkbox" class="btn-check" id="car2" value="car2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="car2" style="border-color: rgb(55, 73, 26);"> سيارة</label>
                    <input type="checkbox" class="btn-check" id="kd2" value="kd2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="kd2" style="border-color: rgb(55, 73, 26);"> دينار</label>
                    <input type="checkbox" class="btn-check" id="island2" value="island2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="island2" style="border-color: rgb(55, 73, 26);">جزيرة </label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px">
                    <input type="checkbox" class="btn-check" id="pineapple2" value="pineapple2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="pineapple2" style="border-color: rgb(55, 73, 26);">أناناس </label>
                    <input type="checkbox" class="btn-check" id="kd3" value="kd3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="kd2" style="border-color: rgb(55, 73, 26);"> دينار</label>
                    <input type="checkbox" class="btn-check" id="triangle3" value="triangle3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="triangle3" style="border-color: rgb(55, 73, 26);"> مثلث</label>
                    <input type="checkbox" class="btn-check" id="camel2" value="camel2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="camel2" style="border-color: rgb(55, 73, 26);"> جمل</label>
                    <input type="checkbox" class="btn-check" id="hammer2" value="hammer2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="hammer2" style="border-color: rgb(55, 73, 26);"> مطرقة</label>
                    <input type="checkbox" class="btn-check" id="plane3" value="plane3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="plane3" style="border-color: rgb(55, 73, 26);"> طيارة</label>
                    <input type="checkbox" class="btn-check" id="compass2" value="compass2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="compass2" style="border-color: rgb(55, 73, 26);"> فرجار</label>
                    <input type="checkbox" class="btn-check" id="spout2" value="spout2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="spout2" style="border-color: rgb(55, 73, 26);"> صنبور</label>
                    <input type="checkbox" class="btn-check" id="secar2" value="secar2" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="secar2" style="border-color: rgb(55, 73, 26);">مقص </label>
                </div>
                <div class="form-check" style="direction:rtl; margin-top: 20px">
                    <input type="checkbox" class="btn-check" id="camel3" value="camel3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="camel3" style="border-color: rgb(55, 73, 26);">جمل </label>
                    <input type="checkbox" class="btn-check" id="secar3" value="secar3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="secar3" style="border-color: rgb(55, 73, 26);"> مقص</label>
                    <input type="checkbox" class="btn-check" id="car3" value="car3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="car3" style="border-color: rgb(55, 73, 26);"> سيارة</label>
                    <input type="checkbox" class="btn-check" id="spout3" value="spout3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="spout3" style="border-color: rgb(55, 73, 26);"> صنبور</label>
                    <input type="checkbox" class="btn-check" id="island3" value="island3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="island3" style="border-color: rgb(55, 73, 26);"> جزيرة</label>
                    <input type="checkbox" class="btn-check" id="train3" value="train3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="train3" style="border-color: rgb(55, 73, 26);"> قطار</label>
                    <input type="checkbox" class="btn-check" id="pineapple3" value="pineapple3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="pineapple3" style="border-color: rgb(55, 73, 26);"> أناناس</label>
                    <input type="checkbox" class="btn-check" id="hammer3" value="hammer3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="hammer3" style="border-color: rgb(55, 73, 26);"> مطرقة</label>
                    <input type="checkbox" class="btn-check" id="compass3" value="compass3" name="selection" autocomplete="off">
                    <label class="btn-outline-purple" onclick="btn_clicked(this)" for="compass3" style="border-color: rgb(55, 73, 26);">فرجار </label>
                </div>
                <div style="padding-right: 575px;">
                    <input id="end" type="submit" name="formtype2" onclick="calcDiff()" class=" btn-green" value="انهاء الوقت / الاختبار" data-toggle="modal" data-target="#ModalsubmitTest{{Students.id}}" style="margin-top: 20px;" disabled>
                    <!-- <input id="end" onclick="calcDiff()" type="submit" value=" انهاء الوقت / الاختبار" name="formtype2" class="btn" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 20px;"> -->
                    <!-- <button id="endBTN" type="submit" name="" value="" class="btn" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 20px;">إنهاء الوقت / الاختبار</button> -->
                </div>
            </form>
            <div class="col-2 d-grid mx-auto">
                <span class="input-group-text" style="border-color:rgb(55, 73, 26); background-color: white; border-radius: 0%; direction: rtl; font-size:20px; font-weight:bolder;">الزمن  </span>
                <label id="result1" style="border-color:rgb(55, 73, 26); background-color: rgb(55, 73, 26);border-radius: 0%; direction: rtl; font-size:20px; font-weight:bolder;color:white;">----</label>
                <span class="input-group-text" style="border-color:rgb(55, 73, 26); background-color: white; border-radius: 0%; direction: rtl; font-size:20px; font-weight:bolder;"> عدد الأخطاء </span>
                <label id="result2" style="border-color:rgb(55, 73, 26); background-color:rgb(55, 73, 26);border-radius: 0%; font-size:20px; font-weight:bolder;color:white;">0</label>
                <span class="input-group-text" style="border-color:rgb(55, 73, 26); background-color: white; border-radius: 0%; direction: rtl; font-size:20px; font-weight:bolder;">  الزمن مع الأخطاء </span>
                <label id="result3" style="border-color:rgb(55, 73, 26); background-color: rgb(55, 73, 26);border-radius: 0%; direction: rtl; font-size:20px; font-weight:bolder;color:white;">----</label>
            </div>
        </div>
    </div>
</div>

<!-- modal for submit tst -->
<div class="modal fade" id="ModalsubmitTest{{Students.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form class="form-horizontal" action="" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4" id="labelText" style="color: #0059a0">
                    <h5 class="modal-title mb-0 w-100 text-center fs-2 color-purple"> هل أنت متأكد من تسليم الاختبار؟ </h5>
                </div>
                <div class="modal-body fs-5" style="direction: rtl;">
                    <label for="submitTst" class="form-label">يرجى الاختيار من القائمة </label>
                    <select id="submitTst" name="submitTst" class="form-select fs-5" Required>
                        <option value="تم الانتهاء من بنود الاختبار كلها " selected>تم الانتهاء من بنود الاختبار كلها </option>
                        <option value="توقف لأسباب صحية أو شخصية خاصة بالطالب" >توقف لأسباب صحية أو شخصية خاصة بالطالب</option>
                        <option value="توقف لأسباب صحية أو شخصية خاصة بالفاحص">توقف لأسباب صحية أو شخصية خاصة بالفاحص</option>
                        <option value="أسباب أخرى">أسباب أخرى </option>
                    </select>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <!-- <button type="button"  class="btn fs-6 btn-secondary col-6 py-3 m-0 rounded-0" data-dismiss="modal">الغاء</button> -->
                    <!-- <input id="end" onclick="calcDiff()" type="submit" value=" انهاء الوقت / الاختبار" name="formtype2" class="btn" style="background-color: #CC99CC; color: black; font-weight: bold; margin-top: 20px;"> -->
                    <input id="submitDropDown" type="submit" name="formtype3" value=" تسليم الاختبار " class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " style="background-color: rgb(55, 73, 26); border-color: rgb(55, 73, 26); ">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    count = 0;
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var totalSeconds = 0;
    var start = null;
    var end = null;

    function startTime() {
        document.getElementById("start").disabled = true;
        setInterval(setTime, 1000);
        //document.getElementById("questions").style.visibility="visible";
        document.getElementById("timer").style.display = "block";
        //document.getElementById("start").disabled=true;
        document.getElementById("endBtnForm").removeAttribute("disabled");
        document.getElementById("end").removeAttribute("disabled");
        start = new Date();
        console.log(start);
    }

    function calcDiff() {
        end = new Date();
        document.getElementById("timer").style.visibility = "hidden";

        dif = Math.round((end - start) / 1000);
        document.getElementById("result1").innerText = dif + " ث ";
        document.getElementById("result3").innerText = dif + count + " ثانية ";

    }

    function btn_clicked(btn) {
        // Check if the form is disabled
        var isFormDisabled = document.getElementById("endBtnForm").hasAttribute("disabled");

        if (isFormDisabled) {
            // Prevent the default behavior (changing background color) when form is disabled
            event.preventDefault();
            return;
        }
        if (btn.style.backgroundColor == "") {
            count++;
            btn.style.backgroundColor = "red";
            document.getElementById('result2').innerText = count;
        } else {
            count = count - 1;
            btn.style.backgroundColor = "";
            document.getElementById('result2').innerText = count;
        }
    }

    function setTime() {
        ++totalSeconds;
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
    }

    function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }
</script>
{%endblock%}