{%extends 'primary/base.html'%} {%load static%} {%block content%}

<div class="container-box card-signin" style="width: 1000px;margin-top: 2%">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-purple" style="text-align: right;"> الجزء (ج): تمثيل الرتب المثينية للاختبارات الفرعية تمثيلا بيانيا: </h2>
                </div>


                <div class="d-grid mx-auto">
                    <table>
                        <tr>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;"> الرتبة المنينية </th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">ت س ا </th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">ح م </th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">ت س ح </th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">ت ك غ </th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">ق ك غ </th>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white; background:linear-gradient(to right, #d3d0d3 95%, plum 5%); border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">90</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%); border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">80</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"> </td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">70</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">60</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">50</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">40</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">30</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">20</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">10</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">5</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">1</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;"></td>
                        </tr>

                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

{%endblock%}