{%extends 'primary/base.html'%} {%load static%} {%block content%}

<!-- Part A -->
<div class="container-box card-signin" style="width: 1000px; border-color:#48611d;">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-green" style="text-align:right; color:black;"> الجزء (أ): البيانات الشخصية:</h2>
                </div>

                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="studentName" class=""> اسم المفحوص رباعيا: </label>
                    <input type="text" class="form-control " name="studentName" id="studentName" value="{{students.studentName}}" disabled>
                </div>

                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="sex" class="p-3"> جنس المفحوص:</label>
                    <label for="sex" class="p-2"> ذكر </label> {% if students.sex == "male" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {%endif%}
                    <label for="sex" class="p-2"> أنثى </label> {% if students.sex == "female" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {% endif %}
                </div>

                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="schoolName" class=""> اسم المدرسة:</label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{students.schoolName}}" disabled>
                </div>

                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="grade" class=""> الصف الدراسي:</label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{students.grade}}" disabled>
                </div>

                <div class="col-md" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="eduDistrict" class=""> المنطقة التعليمية:</label>
                    <input type="text" class="form-control" name="eduDistrict" id="eduDistrict" value="{{students.eduDistrict}}" disabled>
                </div>

                <div class="form-group mb-3" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="nationality" class="p-2">  الجنسية:  </label>
                    <input type="text" class="form-control" name="nationality" id="nationality" value="{{students.nationality}}" disabled>
                </div>

                <div class="d-grid mx-auto">
                    <table>
                        <tr>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; width:250px;"> </th>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;">اليوم</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الشهر</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;">السنة</th>
                        </tr>
                        <tr>
                            <td>تاريخ إجراء الاختبار:</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{students.examDate|date:'d'}}</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{students.examDate|date:'m'}}</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{students.examDate|date:'Y'}}</td>
                        </tr>
                        <tr>
                            <td>تاريخ ميلاد المفحوص:</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{students.birthDate|date:'d'}}</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{students.birthDate|date:'m'}}</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{students.birthDate|date:'Y'}}</td>
                        </tr>
                        <tr>
                            <td>العمر:</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{student_age_day}}</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{student_age_month}}</td>
                            <td style="border: 4px solid white; background-color: #e0f0d2; text-align: center;">{{student_age_year}}</td>
                        </tr>
                    </table>
                </div>
                <div class="form-group mb-3" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="Examiner" class=""> اسم الفاحص:  </label>
                    <input type="text" class="form-control" name="Examiner" id="Examiner" value="{{examinerName}}" disabled>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Part B -->
<div class="container-box card-signin" style="width: 1000px; border-color:#48611d; margin-top: 2%">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-green" style="text-align:right; color:black;"> الجزء (ب): الاختبارات الفرعية: </h2>
                </div>


                <div class="d-grid mx-auto">
                    <table>
                        <tr>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;"> اسم الاختبار</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الزمن بالثواني</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الدرجة الخام</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;">النسبة المئينية</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #48611d; color:white; border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الدرجة المعيارية المعدلة</th>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white; background:linear-gradient(to right, #e0f0d2 95%, #48611d 5%); border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;"> 1- اختبار حذف المقاطع والأصوات</td>
                            <td style="border: 1px solid #48611d; background-color: #e0f0d2; text-align: center;"></td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_phonemeDel.correctAnswers}} </td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_phonemeDel.Percentile_Number}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_phonemeDel.PSDS_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #e0f0d2 95%, #48611d 5%); border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;"> 2- اختبار التسمية السريعة للصور</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_obj.totalScore_obj}} </td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_obj.totalScore_obj}} </td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_obj.Percentile_Number}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_obj.RNOS_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #e0f0d2 95%, #48611d 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;"> 3- اختبار تكرار الكلمات غير الحقيقية</td>
                            <td style="border: 1px solid #48611d; background-color: #e0f0d2; text-align: center;"></td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_nonWrdRep.correctAnswers}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_nonWrdRep.Percentile_Number}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_nonWrdRep.NWRS_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #e0f0d2 95%, #48611d 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;"> 5- اختبار دقة قراءة الكلمات غير الحقيقية </td>
                            <td style="border: 1px solid #48611d; background-color: #e0f0d2; text-align: center;"></td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_nonWrdReadingAcc.correctAnswers}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_nonWrdReadingAcc.Percentile_Number}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_nonWrdReadingAcc.NWRAS_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background-color: #e0f0d2;border-radius: 0%;direction: rtl;height: 25px; text-align: center;"> الزمن الكلي، والدرجة الكلية: </td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_obj.totalScore_obj}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_phonemeDel.correctAnswers|add:score_obj.totalScore_obj|add:score_nonWrdRep.correctAnswers|add:score_nonWrdReadingAcc.correctAnswers}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_phonemeDel.Percentile_Number|add:score_obj.Percentile_Number|add:score_nonWrdRep.Percentile_Number|add:score_nonWrdReadingAcc.Percentile_Number}}</td>
                            <td style="border: 1px solid #48611d; background-color: white; text-align: center;">{{score_phonemeDel.PSDS_Modified_standard|add:score_obj.RNOS_Modified_standard|add:score_nonWrdRep.NWRS_Modified_standard|add:score_nonWrdReadingAcc.NWRAS_Modified_standard}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Part C -->
<div class="container-box card-signin" style="width: 1000px;margin-top: 2%; border-color:#48611d;" >
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-purple" style="text-align: right; color:black;"> الجزء (ج): تمثيل الرتب المئينية للاختبارات الفرعية تمثيلا بيانياً: </h2>
                </div>


                <div class="d-grid mx-auto">
                    <table>

                        <tr>
                            <th id="style-th" style="border: 4px solid white; color:white; background-color: #262915;direction: rtl;height: 25px; text-align: center;" rowspan="3">الوصف الكيفي </th>
                            <th id="style-th" style="border: 4px solid white; color:white; background-color: #262915;direction: rtl;height: 25px; text-align: center;" rowspan="3"> الرتبة المئينية </th>
                            <th id="style-th" style="border: 4px solid white; color:white; background-color: #262915;direction: rtl;height: 30px; text-align: center;" colspan="4">المهارات التي يقيسها الاختبار </th>
                        </tr>
                        <tr>
                            <th colspan="2" style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 30px; text-align: center;"> الوعي الصوتي </th>
                            <th colspan="1" style="border: 4px solid white; color:white; background-color: #48611d;direction: rtl;height: 30px; text-align: center;">سرعة النفاذ الى المعجم اللغوي</th>
                            <th colspan="1" style="border: 4px solid white; color:white; background-color: #353b13;direction: rtl;height: 30px; text-align: center;">الذاكرة الصوتية</th>
                        </tr>
                        <tr>
                            <th style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 30px; text-align: center;"> حذف المقاطع والاصوات </th>
                            <th style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 30px; text-align: center;">دقة قراءة الكلمات غير الحقيقية</th>
                            <th style="border: 4px solid white; color:white; background-color: #48611d;direction: rtl;height: 30px; text-align: center;">التسمية السريعة للصور </th>
                            <th style="border: 4px solid white; color:white; background-color: #353b13;direction: rtl;height: 30px; text-align: center;">تكرار الكلمات غير الحقيقية </th>


                        </tr>

                        <tr>
                            <td style="border: 4px solid white; color:white; background-color: #4B5320;direction: rtl;height: 25px; text-align: center; padding-right: 15px;" rowspan="2">متفوق</td>
                            <td style="border: 1px solid white; color:white; background-color: #4B5320; text-align: center;">90</td>
                            {%if score_phonemeDel.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid white; color:white; background-color: #4B5320; text-align: center;">80</td>
                            {%if score_phonemeDel.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 4px solid white; color:white; background-color: #5f6637;direction: rtl;height: 25px; text-align: center; padding-right: 15px;" rowspan="2">فوق المتوسط</td>
                            <td style="border: 1px solid white; color:white; background-color: #5f6637; text-align: center;">70</td>
                            {%if score_phonemeDel.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 1px solid white; color:white; background-color: #5f6637; text-align: center;">60</td>
                            {%if score_phonemeDel.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 4px solid white; color:white; background-color: #8F9779;direction: rtl;height: 25px; text-align: center; padding-right: 15px;">متوسط</td>
                            <td style="border: 1px solid white; color:white; background-color: #8F9779; text-align: center;">50</td>
                            {%if score_phonemeDel.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 4px solid white; color:white; background-color: #353b13;direction: rtl;height: 25px; text-align: center; padding-right: 15px;" rowspan="2">اقل من المتوسط</td>
                            <td style="border: 1px solid white; color:white; background-color: #353b13; text-align: center;">40</td>
                            {%if score_phonemeDel.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 1px solid white; color:white; background-color: #353b13; text-align: center;">30</td>
                            {%if score_phonemeDel.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 25px; text-align: center; padding-right: 15px;" rowspan="2">متدن</td>
                            <td style="border: 1px solid white; color:white; background-color: #91af5a; text-align: center;">20</td>
                            {%if score_phonemeDel.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 1px solid white; color:white; background-color: #91af5a; text-align: center;">10</td>
                            {%if score_phonemeDel.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 4px solid white; color:white; background-color: #48611d;direction: rtl;height: 25px; text-align: center; padding-right: 15px;" rowspan="2">متدن جدا</td>
                            <td style="border: 1px solid white; color:white; background-color: #48611d; text-align: center;">5</td>
                            {%if score_phonemeDel.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td style="border: 1px solid white; color:white; background-color: #48611d; text-align: center;">1</td>
                            {%if score_phonemeDel.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdReadingAcc.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_obj.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%} {%if score_nonWrdRep.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#48611d; text-align: center;"></td>
                            {%endif%}

                        </tr>

                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container-box card-signin" style="width: 1000px;margin-top: 2%; border-color:#48611d;">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>
<!-- Part D -->
<div class="container-box card-signin" style="width: 1000px;margin-top: 2%; text-align: right; direction: rtl;">
    <div class="card-body">
        <form method="POST" id="myForm">
            {% csrf_token %}
            <div class="row g-3 mx-auto rbgsa" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-purple" style="text-align: right; color:black;"> الجزء (د): التقرير النهائي والتوصيات </h2>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="studentName" class=""> اسم المفحوص رباعيا: </label>
                    <input type="text" class="form-control" name="studentName" id="studentName" value="{{students.studentName}}" disabled>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                    <label for="sex" class="p-3"> جنس المفحوص:</label>
                    <label for="sex" class="p-2"> ذكر </label> {% if students.sex == "male" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {%endif%}
                    <label for="sex" class="p-2"> أنثى </label> {% if students.sex == "female" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {% endif %}
                </div>
            </div>
            <div class="form-group mb-3" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                <label for="Examiner" class=""> اسم الفاحص:  </label>
                <input type="text" class="form-control" name="Examiner" id="Examiner" value="{{examinerName}}" disabled>
            </div>
            <div class="form-group mb-3">
                <label for="note" class=""> ملاحظات على المفحوص قبل الاختبار وفي أثنائه:  </label>
                <textarea type="text" class="form-control" name="note" id="note" rows="2" value="">{{note_nt}}</textarea>
            </div>
            <h3 class="modal-title text-m-b" style="text-align: right; color:#48611d; margin-bottom: 10px;"> التفسير الكيفي للاختبار:</h3>
            <div class="form-group mb-3">
                <label for="strength" class=""> أولاً: نقاط القوة:   </label>
                <textarea type="text" class="form-control" name="strength" id="strength" rows="5" value="">{{strength_str}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="weakness" class=""> ثانياً: نقاط الضعف:  </label>
                <textarea type="text" class="form-control" name="weakness" id="weakness" rows="5" value="">{{weakness_wk}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="result" class=""> النتائج:  </label>
                <textarea type="text" class="form-control" name="result" id="result" rows="5" value="">{{result_rslt}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="suggestion" class=""> توصيات مقترحة:  </label>
                <textarea type="text" class="form-control" name="suggestion" id="suggestion" rows="5" value="">{{suggestion_sgt}}</textarea>
            </div>
            <button class="btn-green" style="border-radius: 10px;" type="submit" name="action" value="submit">تسليم</button>
            <button class="btn-green" style="border-radius: 10px;" type="submit" name="action" value="print" onclick="printPage()">طباعة  </button>
        </form>
    </div>
</div>
<script>
    var labels = JSON.parse('{{ labels|escapejs }}');
    var data = JSON.parse('{{ data|escapejs }}');

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'الرتبة المئينية',
                data: data,
                backgroundColor: '#48611d',
                borderColor: '#48611d',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    min: 0,
                    max: 100,
                    ticks: {
                        stepSize: 10,
                        autoSkip: false,
                    }
                }
            }
        }

    });
</script>
{%endblock%}