{%extends 'primary/base.html'%} {%load static%} {%block content%}
<div class="container-box card-signin" style="width: 1000px;">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-purple" style="text-align: right;"> الجزء (أ): البيانات الشخصية:</h2>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="studentName" class=""> اسم المفحوص رباعيا: </label>
                    <input type="text" class="form-control" name="studentName" id="studentName" value="{{students.studentName}}" disabled>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                    <label for="sex" class="p-3"> جنس المفحوص:</label>
                    <label for="sex" class="p-2"> ذكر </label> {% if students.sex == "male" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {%endif%}
                    <label for="sex" class="p-2"> أنثى </label> {% if students.sex == "female" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {% endif %}
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="schoolName" class="" style=""> اسم المدرسة:    </label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{students.schoolName}}" disabled>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="grade" class=""> الصف الدراسي:</label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{students.grade}}" disabled>
                </div>

                <div class="col-md-12" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="eduDistrict" class=""> المنطقة التعليمية:</label>
                    <input type="text" class="form-control" name="eduDistrict" id="eduDistrict" value="{{students.eduDistrict}}" disabled>
                </div>

                <div class="col-md mb-3" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="nationality" class="p-2">  الجنسية: </label>
                    <input type="text" class="form-control" name="nationality" id="nationality" value="{{students.nationality}}" disabled>
                </div>
                <div class="d-grid mx-auto">
                    <table>
                        <tr>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; width:250px;"> </th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">اليوم</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الشهر</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">السنة</th>
                        </tr>
                        <tr>
                            <td>تاريخ إجراء الاختبار:</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{students.examDate|date:'d'}}</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{students.examDate|date:'m'}}</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{students.examDate|date:'Y'}}</td>
                        </tr>
                        <tr>
                            <td>تاريخ ميلاد المفحوص:</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{students.birthDate|date:'d'}}</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{students.birthDate|date:'m'}}</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{students.birthDate|date:'Y'}}</td>
                        </tr>
                        <tr>
                            <td>العمر:</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{student_age_day}}</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{student_age_month}}</td>
                            <td style="border: 4px solid white; background-color: #b3afb3; text-align: center;">{{student_age_year}}</td>
                        </tr>
                    </table>
                </div>
                <div class="form-group mb-3" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="Examiner" class=""> اسم الفاحص:  </label>
                    <input type="text" class="form-control" name="Examiner" id="Examiner" value="{{examinerName}}" disabled>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-box card-signin" style="width: 1000px;margin-top: 2%">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-purple" style="text-align: right;"> الجزء (ب): الاختبارات الفرعية: </h2>
                </div>
                <div class="d-grid mx-auto">
                    <table>
                        <tr>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;"> اسم الاختبار</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الزمن بالثواني</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الدرجة الخام</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">النسبة المئينية</th>
                            <th id="style-th" style="border: 4px solid white;background-color: #CC99CC;border-radius: 0%;direction: rtl;height: 25px; text-align: center;">الدرجة المعيارية المعدلة</th>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white; background:linear-gradient(to right, #d3d0d3 95%, plum 5%); border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">1 - اختبار التسمية السريعة الأشكال</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.totalScore_obj}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.totalScore_obj}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.Percentile_Number}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.RNO_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%); border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">2 - اختبار حذف المقاطع والأصوات</td>
                            <td style="border: 1px solid plum; background-color: rgba(187, 184, 184, 0.856); text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_phoneme.correctAnswers}} </td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_phoneme.Percentile_Number}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_phoneme.PSD_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">3 - اختبار التسمية السريعة للحروف</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_ltrs.totalScore_ltr}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_ltrs.totalScore_ltr}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_ltrs.Percentile_Number}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_ltrs.RNL_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">4 - اختبار تكرار الكلمات غير الحقيقية</td>
                            <td style="border: 1px solid plum; background-color: rgba(187, 184, 184, 0.856); text-align: center;"></td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_nonWrdRep.correctAnswers}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_nonWrdRep.Percentile_Number}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_nonWrdRep.NWR_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background:linear-gradient(to right, #d3d0d3 95%, plum 5%);border-radius: 0%;direction: rtl;height: 25px; padding-right: 15px;">5 - اختبار دقة قراءة الكلمات غير الحقيقية</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_nonWrdReading.correctAnswers}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_nonWrdReading.correctAnswers}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_nonWrdReading.Percentile_Number}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_nonWrdReading.NWRA_Modified_standard}}</td>
                        </tr>
                        <tr>
                            <td style="border: 4px solid white;background-color: #d3d0d3;border-radius: 0%;direction: rtl;height: 25px; text-align: center;"> الزمن الكلي، والدرجة الكلية: </td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.totalScore_obj|add:context_ltrs.totalScore_ltr|add:context_nonWrdReading.correctAnswers}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.totalScore_obj|add:context_phoneme.correctAnswers|add:context_ltrs.totalScore_ltr|add:context_nonWrdRep.correctAnswers|add:context_nonWrdReading.correctAnswers}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.Percentile_Number|add:context_phoneme.Percentile_Number|add:context_ltrs.Percentile_Number|add:context_nonWrdRep.Percentile_Number|add:context_nonWrdReading.Percentile_Number}}</td>
                            <td style="border: 1px solid plum; background-color: white; text-align: center;">{{context_obj.RNO_Modified_standard|add:context_phoneme.PSD_Modified_standard|add:context_ltrs.RNL_Modified_standard|add:context_nonWrdRep.NWR_Modified_standard|add:context_nonWrdReading.NWRA_Modified_standard}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-box card-signin" style="width: 1000px;margin-top: 2%">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-purple" style="text-align: right;"> الجزء (ج): تمثيل الرتب المئينية للاختبارات الفرعية تمثيلا بيانياً </h2>
                </div>
                <div class="d-grid mx-auto mb-3">
                    <table>
                        <tr>
                            <th id="style-th" style="border: 2px solid white;color: white; background-color: #720e9e;border-radius: 0%;direction: rtl;height: 40px; width:150px; text-align: center;"> الرتبة المئينية </th>
                            <th id="style-th" style="border: 2px solid white;color: white; background-color: #720e9e;border-radius: 0%;direction: rtl;height: 40px; width:150px; text-align: center;">ت س أ </th>
                            <th id="style-th" style="border: 2px solid white;color: white; background-color: #720e9e;border-radius: 0%;direction: rtl;height: 40px; width:150px; text-align: center;">ح م </th>
                            <th id="style-th" style="border: 2px solid white;color: white; background-color: #720e9e;border-radius: 0%;direction: rtl;height: 40px; width:150px; text-align: center;">ت س ح </th>
                            <th id="style-th" style="border: 2px solid white;color: white; background-color: #720e9e;border-radius: 0%;direction: rtl;height: 40px; width:150px; text-align: center;">ت ك غ </th>
                            <th id="style-th" style="border: 2px solid white;color: white; background-color: #720e9e;border-radius: 0%;direction: rtl;height: 40px; width:150px; text-align: center;">ق ك غ </th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">90</td>
                            {% if context_obj.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 90 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">80</td>
                            {% if context_obj.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 80 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">70</td>
                            {% if context_obj.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 70 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">60</td>
                            {% if context_obj.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 60 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">50</td>
                            {% if context_obj.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;background-color: rgba(187, 184, 184, 0.856);"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 50 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center; background-color: rgba(187, 184, 184, 0.856);">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center; background-color: rgba(187, 184, 184, 0.856);"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">40</td>
                            {% if context_obj.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 40 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">30</td>
                            {% if context_obj.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 30 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">20</td>
                            {% if context_obj.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 20 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">10</td>
                            {% if context_obj.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 10 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">5</td>
                            {% if context_obj.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 5 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td style="border: 1px solid; border-color:#568203; direction: rtl; height: 30px; text-align: center; ">1</td>
                            {% if context_obj.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_phoneme.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_ltrs.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdRep.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%} {% if context_nonWrdReading.Percentile_Number == 1 %}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;">X</td>
                            {%else%}
                            <td style="border: 1px solid; border-color:#568203; text-align: center;"></td>
                            {%endif%}
                        </tr>

                    </table>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="container-box card-signin" style="width: 1000px;margin-top: 2%">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>

<!-- section D-->
<div class="container-box card-signin" style="width: 1000px; margin-top: 2%; text-align: right; direction: rtl;">
    <div class="card-body">
        <form method="POST" id="myForm">
            {% csrf_token %}
            <div class="row g-3 mx-auto" style="width: 850px;">
                <div class="modal-header mb-4">
                    <h2 class="modal-title text-lg-purple" style="text-align: right;"> الجزء (د): التقرير النهائي والتوصيات </h2>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="studentName" class=""> اسم المفحوص رباعيا: </label>
                    <input type="text" class="form-control" name="studentName" id="studentName" value="{{students.studentName}}" disabled>
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                    <label for="sex" class="p-3"> جنس المفحوص:</label>
                    <label for="sex" class="p-2"> ذكر </label> {% if students.sex == "male" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {%endif%}
                    <label for="sex" class="p-2"> أنثى </label> {% if students.sex == "female" %}
                    <input type="checkbox" checked="true" disabled="disabled"> {% else %}
                    <input type="checkbox" disabled="disabled"> {% endif %}
                </div>
            
                <div class="col-md-12" style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
                    <label for="Examiner" class=""> اسم الفاحص:  </label>
                    <input type="text" class="form-control" name="Examiner" id="Examiner" value="{{examinerName}}" disabled>
                </div>
                <div class="col-md-12">
                    <label for="note" class=""> ملاحظات على المفحوص قبل الاختبار وفي أثنائه:  </label>
                    <textarea type="text" class="form-control" name="note" id="note" rows="2" value="">{{note_latest}}</textarea>
                </div>
            
                <p> نتيجة المهارات والاختبارات التي اجاب عنها المفحوص (&#10004 , &#10006):</p>
                <div class="card-body">
                    <div class="row g-3 mx-auto" style="width: 850px;">
                        <div class="d-grid mx-auto">
                            <table>
                                <tr>
                                    <th id="style-th" style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 25px; text-align: center;" rowspan="2">الاختبار الفرعي </th>
                                    <th id="style-th" style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 25px; text-align: center;" colspan="3"> المهارة التي يقيسها الاختبار </th>
                                </tr>
                                <tr>
                                    <th style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 30px; text-align: center;"> الوعي بالأصوات </th>
                                    <th style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 30px; text-align: center;">سرعة النفاذ الى المعجم اللغوي</th>
                                    <th style="border: 4px solid white; color:white; background-color: #91af5a;direction: rtl;height: 30px; text-align: center;">الذاكرة الصوتية</th>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid ; color:black; background-color: white;direction: rtl;height: 25px; text-align: center; padding-right: 15px;">1 - حذف القاطع والاصوات</td>
                                    <td style="border: 1px solid; border-color:black; text-align: center;">
                                        <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                                            {% if test1_latest == True %}
                                            <label for="choice1" class="p-2" value="True">  &#10004 </label>
                                            <input type="radio" name="choice1" value="True" checked>
                                            <label for="choice1" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice1" value="False">{%elif test1_latest == False%}
                                            <label for="choice1" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice1" value="True">
                                            <label for="choice1" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice1" value="False" checked> {%elif test1_latest == None%}
                                            <label for="choice1" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice1" value="True">
                                            <label for="choice1" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice1" value="False"> {%endif%}

                                        </div>
                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);"></td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);"></td>

                                </tr>
                                <tr>
                                    <td style="border: 1px solid black; color:black; background-color: white;direction: rtl;height: 25px; text-align: center; padding-right: 15px;">2 - دقة قراءة الكلمات غير الحقيقية</td>
                                    <td style="border: 1px solid; border-color:black; text-align: center;">
                                        <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                                            {% if test2_latest == True %}
                                            <label for="choice2" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice2" value="True" checked>
                                            <label for="choice2" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice2" value="False"> {% elif test2_latest == False %}
                                            <label for="choice2" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice2" value="True">
                                            <label for="choice2" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice2" value="False" checked> {%elif test2_latest == None%}
                                            <label for="choice2" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice2" value="True">
                                            <label for="choice2" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice2" value="False"> {%endif%}
                                        </div>
                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);"></td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);"></td>

                                </tr>
                                <tr>
                                    <td style="border: 1px solid black; color:black; background-color: white;direction: rtl;height: 25px; text-align: center; padding-right: 15px;">3 - التسمية السريعة الأشكال</td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);">

                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center;">
                                        <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                                            {% if test3_latest == True %}
                                            <label for="choice3" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice3" value="True" checked>
                                            <label for="choice3" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice3" value="False">{%elif test3_latest == False%}
                                            <label for="choice3" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice3" value="True">
                                            <label for="choice3" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice3" value="False" checked> {%elif test3_latest == None%}
                                            <label for="choice3" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice3" value="True">
                                            <label for="choice3" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice3" value="False"> {%endif%}
                                        </div>
                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);"></td>

                                </tr>
                                <tr>
                                    <td style="border: 1px solid black; color:black; background-color: white;direction: rtl;height: 25px; text-align: center; padding-right: 15px;">4 - التسمية السريعة للحروف</td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);">

                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center;">
                                        <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                                            {% if test4_latest == True %}
                                            <label for="choice4" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice4" value="True" checked>
                                            <label for="choice4" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice4" value="False">{%elif test4_latest == False%}
                                            <label for="choice4" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice4" value="True">
                                            <label for="choice4" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice4" value="False" checked> {%elif test4_latest == None%}
                                            <label for="choice4" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice4" value="True">
                                            <label for="choice4" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice4" value="False"> {%endif%}
                                        </div>
                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);"></td>

                                </tr>
                                <tr>
                                    <td style="border: 1px solid black; color:black; background-color: white;direction: rtl;height: 25px; text-align: center; padding-right: 15px;">5 - تكرار الكلمات غير الحقيقية</td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);">

                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center; background-color: rgba(187, 184, 184, 0.856);">

                                    </td>
                                    <td style="border: 1px solid; border-color:black; text-align: center;">
                                        <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: right; align-items:center;">
                                            {% if test5_latest == True %}
                                            <label for="choice5" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice5" value="True" checked>
                                            <label for="choice5" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice5" value="False">{%elif test3_latest == False%}
                                            <label for="choice5" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice5" value="True">
                                            <label for="choice5" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice5" value="False" checked> {%elif test3_latest == None%}
                                            <label for="choice5" class="p-2" value="True">  &#10004</label>
                                            <input type="radio" name="choice5" value="True">
                                            <label for="choice5" class="p-2" value="False"> &#10006 </label>
                                            <input type="radio" name="choice5" value="False"> {%endif%}
                                        </div>
                                    </td>

                                </tr>

                            </table>
                        </div>
                    </div>

                </div>

                <h3> التفسير الكيفي للاختبار:</h3>

                <div class="form-group mb-3">
                    <label for="strength" class=""> اولا: نقاط القوة:   </label>
                    <textarea type="text" class="form-control" name="strength" id="strength" rows="5" value="">{{strength_latest}}</textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="weakness" class=""> ثانيا: نقاط الضعف:  </label>
                    <textarea type="text" class="form-control" name="weakness" id="weakness" rows="5" value="">{{weakness_latest}}</textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="result" class=""> النتيجة:  </label>
                    <textarea type="text" class="form-control" name="result" id="result" rows="5" value="">{{result_latest}}</textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="suggestion" class=""> توصيات مقترحة:  </label>
                    <textarea type="text" class="form-control" name="suggestion" id="suggestion" rows="5" value="">{{suggestion_latest}}</textarea>
                </div>
            </div>
                <button class="btn-light-purple" style="border-radius: 10px;" type="submit" name="action" value="submit">تسليم</button>
                <button class="btn-light-purple" style="border-radius: 10px;" type="submit" name="action" value="print" onclick="printPage()">طباعة  </button>
            
        </form>

    </div>
</div>


<script>
    var labels = JSON.parse('{{ labels|escapejs }}');
    var data = JSON.parse('{{ data|escapejs }}');

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'الرتبة المئينية',
                data: data,
                backgroundColor: '#CC99CC',
                borderColor: '#CC99CC',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    min: 0,
                    max: 100,
                    ticks: {
                        stepSize: 10,
                        autoSkip: false,
                    }
                }
            }
        }

    });

    function printPage() {
        window.print();
    }
</script>
{%endblock%}