 {%extends 'primary/base.html'%} {%load static%} {%block content%}
<div class="card card-signin my-5 bg-body-tertiary mx-auto" style="width: 500px;">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right;">
            {% csrf_token%}
            <div class="mx-auto" style="width: 400px;">

                <div class="col-xs-8 col-xs-offset-4 m-3">
                    <h2 class="card-title text-center fs-2">تسجيل طالب جديد</h2>
                </div>
                <div class="form-group mb-3">
                    <label for="studentName" class="pe-3 fs-5 ">: اسم الطالب</label>
                    <input type="text" class="form-control " name="studentName" id="studentName" placeholder="أدخل اسم الطالب الرباعي" Required>
                </div>
                <div class="form-group mb-3">
                    <label for="sex" class="pe-3 fs-5 ">: الجنس </label>
                    <select name="gender" class="form-control" id="sex" Required>
                        <option value="">--  اختر--</option>
                        <option value="male">ذكر</option>
                        <option value="female">انثى</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="schoolName" class="pe-3 fs-5 ">: اسم المدرسة</label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" placeholder="أدخل اسم المدرسة" Required>
                </div>
                <div class="form-group mb-3">
                    <label for="grade" class="pe-3 fs-5 ">: الصف الدراسي</label>
                    <input type="text" class="form-control" name="grade" id="grade" placeholder="أدخل الصف الدراسي" Required>
                </div>
                <div class="form-group mb-3">
                    <label for="eduDistrict" class="pe-3 fs-5 ">: المنطقة التعليمية</label>
                    <input type="text" class="form-control" name="eduDistrict" id="eduDistrict" placeholder="أدخل اسم المنطقة" Required>
                </div>
                <div class="form-group mb-3">
                    <label for="nationality" class="pe-3 fs-5 ">: الجنسية </label>
                    <input type="text" class="form-control" name="nationality" id="nationality" placeholder="أدخل الجنسية " Required>
                </div>
                <div class="form-group mb-3">
                    <label for="examDate" class="pe-3 fs-5 ">:  تاريخ الاختبار</label>
                    <input type="date" class="form-control" name="examDate" id="examDate" placeholder="أدخل تاريخ الاختبار " Required>
                </div>
                <div class="form-group mb-3">
                    <label for="birthDate" class="pe-3 fs-5 ">: تاريخ الميلاد </label>
                    <input type="date" class="form-control" name="birthDate" id="birthDate" placeholder="أدخل تاريخ الميلاد " Required>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-danger mb-5 btn-lg border-0 p-3">تسجيل  </button>
                </div>

                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

{%endblock%}