 {%extends 'primary/base.html'%} {%load static%} {%block content%}
<div class="container-box card-signin" style="width: 500px;">
    <div class="card-body">
        <form action="" method="POST" class="form-horizontal" style="text-align: right;">
            {% csrf_token%}
            <div class="mx-auto" style="width: 400px;">

                <div class="col-xs-8 col-xs-offset-4 mb-3">
                    <h2 class="text-lg-purple">تسجيل مستخدم جديد</h2>
                </div>
                <div class="form-group mb-2">
                    <label for="username" class="text-m-b">: اسم المستخدم</label>
                    <input type="text" class="form-control " name="username" id="username" placeholder="أدخل اسم المستخدم الخاص بك" Required>
                </div>
                <div class="form-group mb-2">
                    <label for="password" class="text-m-b">: كلمة المرور</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="أدخل كلمة المرور الخاصة بك هنا" Required>
                </div>
                <div dir="rtl" class="mb-2">
                    <label for="password" class="text-m-b">المرحلة الدراسية :</label>
                    <select name="stage" class="form-select" Required>
                        <option value="PRIMARY">ابتدائي</option>
                        <option value="SECNDARY">متوسط</option>
                        <option value="BOTH">ابتدائي/متوسط</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="name" class="text-m-b ">: الاسم</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="أدخل الاسم الكامل" Required>
                </div>
                <div class="form-group mb-2">
                    <label for="speciality" class="text-m-b ">: التخصص</label>
                    <input type="text" class="form-control" name="speciality" id="speciality" placeholder="أدخل التخصص" Required>
                </div>
                <div class="form-group mb-4">
                    <label for="speciality" class="text-m-b ">: الجهة</label>
                    <input type="text" class="form-control" name="organization" id="organization" placeholder="أدخل اسم الجهة" Required>
                </div>
                <div class="d-grid col-3 mx-auto">
                    <button type="submit" class="btn-purple mb-3 p-2 fs-4">تسجيل  </button>
                    <!-- <button type="submit" class="btn btn-danger mb-5 btn-lg border-0 p-3">تسجيل  </button> -->
                </div>

                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

{%endblock%}