
{%extends 'base.html'%}
{%block content%}
<div class="container my-5"> 
    <form action="" method="POST" class="form-horizontal" style="text-align: right;">
        {% csrf_token%}
        <div class="mx-auto" style="width: 400px;">

            <div class="col-xs-8 col-xs-offset-4">
                <h2 style="text-align:center;">تسجيل مستخدم جديد</h2>
            </div>
            <hr />
            <div class="form-group">
                <label for="username">: اسم المستخدم</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter a Username"
                    Required>
            </div>
            <div class="form-group">
                <label for="password">: كلمة المرور</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter a Password"
                    Required>
            </div>
            <div class="form-group">
                <label for="name">: الاسم</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter a Full Name"
                    Required>
            </div>
            <div class="form-group">
                <label for="speciality">: التخصص</label>
                <input type="text" class="form-control" name="speciality" id="speciality" placeholder="Enter a speciality"
                    Required>
            </div>
            <div class="form-group">
                <label for="speciality">: الجهة</label>
                <input type="text" class="form-control" name="organization" id="organization" placeholder="Enter the organization name"
                    Required>
            </div>
            

            <button type="submit" class="btn btn-primary">تسجيل  </button> 

            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        </div>
    </form>
</div>

{%endblock%}