{%extends 'primary/base.html'%}
{%load static%}
{%block content%}

<div class="container"> 
    <a type="button" class="btn btn-danger" style="float: right; margin-top: 20px;" href="{% url 'primary:signupSuperUser' %} ">إضافة مستخدم جديد  </a>
</div>

<div class="container my-5">
    <div class="table-responsive">
        <table class="table table-striped"  style="direction: rtl;">
            <thead>
                <tr>
                    <th>الاسم</th>
                    <th>التخصص</th>
                    <th>الجهة</th>
                </tr>
            </thead>
            <tbody>
                {% for Examiners in examiners %}
                <tr>
                    <td>
                        {{Examiners.name}}
                    </td>
                    <td>
                        {{Examiners.speciality}}
                    </td>
                    <td>
                        {{Examiners.organization}}
                    </td>
                    <td>
                        <a href="" >edit</a>
                    </td>
                    <td>
                        <a href="" > delete</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>             
        </table>
    </div>
</div>


{%endblock%}