{%extends 'primary/base.html'%} {%load static%} {%block content%}
<div class="container my-5">
<div id="oldDiv">
<div class="col-12 text-center pageTitle ">
    الاختبارات   
</div>

<div class="container my-5">
    <div class="table-responsive">
        <table class="table table-light" style="direction: rtl;">
            <thead>
                <tr class="table-success" >
                    <th style="font-weight:bold;">الاختبار</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button id="rapidNamingWords" type="button" class="btn" style="font-weight: bold;" >التسمية السريعة للأشكال</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="phonemeDeletion" type="button" class="btn" style="font-weight: bold;">حذف المقاطع والأصوات</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="rapidNamingLetters" type="button" class="btn" style="font-weight: bold;">التسمية السريعة للحروف</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="nonWordRepetition" type="button" class="btn" style="font-weight: bold;">تكرار الكلمات غير الحقيقة</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="nonWordReadingAccuracy" type="button" class="btn" style="font-weight: bold;">دقة قراءة الكلمات غير الحقيقة</button>
                    </td>
                </tr>          
            </tbody>
        </table>
    </div>
    <div class="form-group">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
</div>
</div>


<div id = "newDiv1" class=""> 
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> الفقرة التدريبية </div>  
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingObjTraining.png' %}"  class="img-fluid" alt="...">
    </div>
    <div>
        <a class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>

<div id = "newDiv2" class=""> 
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> الفقرة التدريبية </div>  
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingLetters.png' %}"  class="img-fluid" alt="...">
    </div>
    <div>
        <a class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>
</div>
<script>
    // select the button and the div
    const rapidNamingWords = document.getElementById('rapidNamingWords');
    const phonemeDeletion = document.getElementById('phonemeDeletion');
    const rapidNamingLetters = document.getElementById('rapidNamingLetters');
    const nonWordRepetition = document.getElementById('nonWordRepetition');
    const nonWordReadingAccuracy = document.getElementById('nonWordReadingAccuracy');
    const oldDiv = document.getElementById('oldDiv');
    const newDiv1 = document.getElementById('newDiv1');
    const newDiv2 = document.getElementById('newDiv2');

    
    // define the function to change the HTML content
    function changeContent1() {
        oldDiv.innerHTML = newDiv1;
    }
    function changeContent2() {
        oldDiv.innerHTML = newDiv1;
    }
    function changeContent3() {
        document.getElementById('newDiv2').style.visibility = "visible";
        document.getElementById('oldDiv').style.display = 'none';
        document.getElementById('newDiv1').style.display = 'none';    
    }
    function changeContent4() {
        oldDiv.innerHTML = newDiv1;
    }
    function changeContent5() {
        oldDiv.innerHTML = newDiv1;
    }
  
    // add event listener to the button
    rapidNamingWords.addEventListener('click', changeContent1);
    phonemeDeletion.addEventListener('click', changeContent2);
    rapidNamingLetters.addEventListener('click', changeContent3);
    nonWordRepetition.addEventListener('click', changeContent4);
    nonWordReadingAccuracy.addEventListener('click', changeContent5);

  </script>

{%endblock%}