{%extends 'primary/base.html'%} {%load static%} {%block content%}
<div class="container my-5">

<div id="mainDiv">
<div class="col-12 text-center pageTitle ">
    الاختبارات   
</div>

<div class="container my-5">
    <div class="table-responsive">
        <table class="table table-light" style="direction: rtl;">
            <thead>
                <tr class="table-success" >
                    <th style="font-weight:bold;">الاختبار</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button id="rapidNamingWords" type="button" class="btn" style="font-weight: bold;" >التسمية السريعة للأشكال</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="phonemeDeletion" type="button" class="btn" style="font-weight: bold;">حذف المقاطع والأصوات</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="rapidNamingLetters" type="button" class="btn" style="font-weight: bold;">التسمية السريعة للحروف</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="nonWordRepetition" type="button" class="btn" style="font-weight: bold;">تكرار الكلمات غير الحقيقة</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="nonWrdReadingAccuracy" type="button" class="btn" style="font-weight: bold;">دقة قراءة الكلمات غير الحقيقة</button>
                    </td>
                </tr>          
            </tbody>
        </table>
    </div>
    <div class="form-group">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
</div>
</div>

<div id = "rapidNamingDiv" class=""> 
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingObjTraining1.png' %}"  class="img-fluid" alt="...">
    </div>
    <div>
        <a class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>

<div id = "rapidNamingLtrDiv" class=""> 
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingLetters1.png' %}"  class="img-fluid" alt="...">
    </div>
    <div>
        <a class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>

<div id = "nonWordReadingAccuracy" class=""> 
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/nonWordReadingAccuracy.png' %}"  class="img-fluid" alt="...">
    </div>
    <div>
        <a class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>

</div>

<script>
    // select the button and the div
   
    document.getElementById('mainDiv').style.visibility = "visible";
    document.getElementById('rapidNamingDiv').style.display = "none";
    document.getElementById('rapidNamingLtrDiv').style.display = "none";
    document.getElementById('nonWordReadingAccuracy').style.display = "none";


    // define the function to change the HTML content
    function changeContent1() {
        document.getElementById('rapidNamingDiv').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rapidNamingLtrDiv').style.display = 'none'; 
        document.getElementById('nonWordReadingAccuracy').style.display = "none";
 
    }

    function changeContent3() {
        document.getElementById('rapidNamingLtrDiv').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rapidNamingDiv').style.display = 'none'; 
        document.getElementById('nonWordReadingAccuracy').style.display = "none";   
    }

    function changeContent5() {
        document.getElementById('nonWordReadingAccuracy').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rapidNamingDiv').style.display = 'none'; 
        document.getElementById('rapidNamingLtrDiv').style.display = 'none'; 

    }
  
    // add event listener to the button
    rapidNamingWords.addEventListener('click', changeContent1);
    rapidNamingLetters.addEventListener('click', changeContent3);
    nonWrdReadingAccuracy.addEventListener('click', changeContent5);

  </script>

{%endblock%}