{%extends 'primary/base.html'%} {%load static%} {%block content%}
<div class="container my-5">

<div id="mainDiv">
<div class="col-12 text-center pageTitle ">
    الاختبارات   
</div>

<div class="container my-5">
    <div class="table-responsive">
        <table class="table table-light" style="direction: rtl;">
            <thead>
                <tr class="table-success" >
                    <th style="font-weight:bold;">الاختبار</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button id="rapidNamingObj" type="button" class="btn" style="font-weight: bold;" >التسمية السريعة للأشكال</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="phonemeDeletion" type="button" class="btn" style="font-weight: bold;">حذف المقاطع والأصوات</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="rapidNamingLetters" type="button" class="btn" style="font-weight: bold;">التسمية السريعة للحروف</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="nonWordRepetition" type="button" class="btn" style="font-weight: bold;">تكرار الكلمات غير الحقيقة</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="nonWrdReadingAccuracy" type="button" class="btn" style="font-weight: bold;">دقة قراءة الكلمات غير الحقيقة</button>
                    </td>
                </tr>          
            </tbody>
        </table>
    </div>
    <div class="form-group">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
</div>
</div>

<div id = "rapidNamingInst"  name="test" class="col-12 text-center fs-3"> اختبار التسميةالسريعة للأشكال
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rpdInst1.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a id="rpdBTN1" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit"> التالي </a>
    </div>  
</div>
<div id = "rapidNamingTraining" name="test" class="col-12 text-center fs-3"> اختبار التسميةالسريعة للأشكال
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingObjTraining1.png' %}"   class="img-fluid" style="width: 80%; height: 550px;">
    </div>
    <div>
        <a id="rpdBTN2"  class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit"> التالي  </a>
    </div>  
</div>
<div id = "rapidNamingExInst" name="test" class="col-12 text-center fs-3"> اختبار التسميةالسريعة للأشكال
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rpdInst2.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a id="rpdBTN3"  class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit"> التالي  </a>
    </div>  
</div>
<div id = "rapidNamingExTraining" name="test" class="col-12 text-center fs-3"> اختبار التسميةالسريعة للأشكال
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingObjTraining2.png' %}"  class="img-fluid" style="width: 80%; height: 550px;">
    </div>
    <div>
        <a id="rpdBTN4"  class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit"> التالي  </a>
    </div>  
</div>
<div id = "rapidNamingMainInst" name="test" class="col-12 text-center fs-3"> اختبار التسميةالسريعة للأشكال
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rpdInst3.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a id="rpdBTN5" href="{% url 'primary:rpdNamingObjTst' %}" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit"> بدء الاختبار </a>
    </div>  
</div>

<div id = "rpdLetterInst" class="col-12 text-center fs-3"> اختبار التسمية السريعة للحروف
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/ltrInst1.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a id="LtrBtn1" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">التالي  </a>
    </div>  
</div>
<div id = "rpdLetterTraining" class="col-12 text-center fs-3"> اختبار التسمية السريعة للحروف
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingLetters1.png' %}"  class="img-fluid" style="width: 80%; height: 550px;">
    </div>
    <div>
        <a id="LtrBtn2" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">التالي  </a>
    </div>  
</div>
<div id = "rpdLetterExInst" class="col-12 text-center fs-3"> اختبار التسمية السريعة للحروف
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/ltrInst2.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a id="LtrBtn3" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">التالي  </a>
    </div>  
</div>
<div id = "rpdLetterExTraining" class="col-12 text-center fs-3"> اختبار التسمية السريعة للحروف
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/rapidNamingLetters2.png' %}"  class="img-fluid" style="width: 80%; height: 550px;">
    </div>
    <div>
        <a id="LtrBtn4" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">التالي  </a>
    </div>  
</div>
<div id = "rpdLetterMainInst" class="col-12 text-center fs-3"> اختبار التسمية السريعة للحروف
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/ltrInst3.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a id="" href="{% url 'primary:rpdNamingLtrTst'%}" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>

<div id = "nonWordReadingAccuracyInst" class="col-12 text-center fs-3"> اختبار دقة قراءة الكلمات غير الحقيقية
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/nonWordInst1.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a id="nonWrdBtn1" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">التالي  </a>
    </div>  
</div>
<div id = "nonWordReadingAccuracyTraining" class="col-12 text-center fs-3"> اختبار دقة قراءة الكلمات غير الحقيقية
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/nonWordReadingAccuracy.png' %}"  class="img-fluid" style="width: 80%; height: 550px;">
    </div>
    <div>
        <a id="nonWrdBtn2" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">التالي  </a>
    </div>  
</div>
<div id = "nonWordReadingAccuracyMainInst" class="col-12 text-center fs-3"> اختبار دقة قراءة الكلمات غير الحقيقية
    <div class="col-12 text-center fs-2 pageTitle fst-italic"> 
        <img src="{% static 'images/nonWordInst2.png' %}"  class="img-fluid" style="width: 80%;">
    </div>
    <div>
        <a href="{% url 'primary:nonWrdAccuracyTst'%}" class="btn col-3 d-grid mx-auto" style="float:none; margin-top: 20px; background-color: #99CC00; " type="submit">بدء الاختبار </a>
    </div>  
</div>
</div>

<script>
    // select the button and the div
    document.getElementById('mainDiv').style.visibility = "visible";
    var x = document.querySelectorAll("#mainDiv, #rapidNamingInst, #rapidNamingTraining, #rapidNamingExInst, #rapidNamingExTraining,#rapidNamingMainInst, #rpdLetterInst, #rpdLetterTraining, #rpdLetterExInst,#rpdLetterExTraining,#rpdLetterMainInst,#nonWordReadingAccuracyInst,#nonWordReadingAccuracyTraining,#nonWordReadingAccuracyMainInst");
    for(var i = 1; i < x.length; i++) {
        x[i].style.display="none"; 
    }

 /*    if (rapidNamingObj.addEventListener('click')){
        x[0].style.display="none";
        x[1].style.display="block";
    } else if (rapidNamingLetters.addEventListener('click')){
        document.getElementById('rpdLetterInst').style.display = "block";
        x[1,11,0].style.display="none";
    } else if (nonWrdReadingAccuracy.addEventListener('click')){
        x[11].style.display = "block";
        x[1,6,0].style.display="none";
    } */

    // define the function to change the HTML content
    
    function changeContent1() {
        x[0].style.display="none";
        x[1].style.display="block";
    }
    function changeContent3() {
        document.getElementById('rpdLetterInst').style.display = "block";
        x[1,11,0].style.display="none";
    }
    function changeContent5() {
        x[11].style.display = "block";
        x[1,6,0].style.display="none";
    }
    
    function changeNxt1() {
        document.getElementById('rapidNamingTraining').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rapidNamingInst').style.display = 'none'; 
    }
    function changeNxt2() {
        document.getElementById('rapidNamingExInst').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rapidNamingTraining').style.display = "none";
    }
    function changeNxt3() {
        document.getElementById('rapidNamingExTraining').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rapidNamingExInst').style.display = "none";
    }
    function changeNxt4() {
        document.getElementById('rapidNamingMainInst').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rapidNamingExTraining').style.display = "none";
    }
    function Nxt1() {
        document.getElementById('rpdLetterTraining').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rpdLetterInst').style.display = 'none';
    }
    function Nxt2() {
        document.getElementById('rpdLetterExInst').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rpdLetterTraining').style.display = "none";
    }
    function Nxt3() {
        document.getElementById('rpdLetterExTraining').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rpdLetterExInst').style.display = "none";
    }
    function Nxt4() {
        document.getElementById('rpdLetterMainInst').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('rpdLetterExTraining').style.display = "none";
    }
    function nonNxt1() {
        document.getElementById('nonWordReadingAccuracyTraining').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('nonWordReadingAccuracyInst').style.display = "none";

    }
    function nonNxt2() {
        document.getElementById('nonWordReadingAccuracyMainInst').style.display = "block";
        document.getElementById('mainDiv').style.display = 'none';
        document.getElementById('nonWordReadingAccuracyTraining').style.display = "none";
    }

    // add event listener to the button
    rapidNamingObj.addEventListener('click', changeContent1);
    rapidNamingLetters.addEventListener('click', changeContent3);
    nonWrdReadingAccuracy.addEventListener('click', changeContent5);
    rpdBTN1.addEventListener('click', changeNxt1);
    rpdBTN2.addEventListener('click', changeNxt2);
    rpdBTN3.addEventListener('click', changeNxt3);
    rpdBTN4.addEventListener('click', changeNxt4);
    LtrBtn1.addEventListener('click', Nxt1);
    LtrBtn2.addEventListener('click', Nxt2);
    LtrBtn3.addEventListener('click', Nxt3);
    LtrBtn4.addEventListener('click', Nxt4);
    nonWrdBtn1.addEventListener('click', nonNxt1);
    nonWrdBtn2.addEventListener('click', nonNxt2);
  </script>

{%endblock%}