body{
    font-family: 'Simplified Arabic' !important;
    font-weight: bold !important;
}

/* purple button */
.btn-purple {
    background-color: #720e9e;
    color: white;
    border-radius: 10px; 
    border: none;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

/*purple-outline button: tests page*/
.btn-outline-p{
    border: solid;
    border-color: #720e9e;
    border-width: 3px;
    border-radius: 10px;
    background-color: white; 
    color: black; 
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

/*purple-outline button: in-tests*/
.btn-outline-purple{
    border: solid;
    border-color: #CC99CC;
    border-width: 1px;
    width: 70px;
    height: 40px; 
    color: black; 
    padding-top: 5px;
}

/*purple button: in-tests*/
.btn-light-purple{
    border: none;
    background-color: #CC99CC; 
    text-align: center;
    color: black;  
    height: 40px;
    width: auto;
    padding: 5px 10px 5px 10px;
}

/* text button: enabled or disabled*/
.btn-t-enabled{
    border: none;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.btn-t-disabled{
    border: none;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    background-color: none;
}

/*large purple texts*/
.text-lg-purple{
    text-align: center;
    font-size: 40px;
    color: #720e9e;
    font-weight: bold;
}

/*medium black text*/
.text-m-b{
    color: black;
    font-size: 25px;
}


.container-box{
    text-align: center;
    border: 1px solid #720e9e;
    border-radius: 10px;
    margin: auto;
    padding: 30px 25px 30px 25px;
    
}

.color-purple {
    color: #720e9e;
}

.bg-color-green {
    background-color: #568203;
}

.color-green {
    color: #568203;
}

#styleDropDown {
    color: #568203;
    border-color:#568203;
}




/* old css */

.formControl {
    float: right;
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
    width: 400px;
}

.formAlign {
    padding-top: 40px;
    text-align: right;
}

.starlabel label:after {
    content: " *";
    color: red;
}

.table {
    text-align: right;
}

.newUserBtn {
    direction: rtl;
    background-color: #720e9e;
}

input {
    text-align: right;
}

#labelText {
    color: #720e9e;
}