.row {
    display: flex;
    flex-wrap: wrap;
}

.btn-primary {
    background-color: rgb(30, 102, 133);
    width: 100px;
    height: 60px;
    text-align: left;
}

.pageTitle {
    font-size: 50px;
    padding-top: 20px;
}

.center {
    text-align: center;
    margin-top: 30px;
}

.right {
    text-align: end;
    margin-right: 30px;
    margin-top: 30px;
}

.btn-lg {
    background-color: #0059a0!important;
    font-size: 18px;
}

.formControl {
    float: right;
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
    width: 400px;
}

.formAlign {
    padding-top: 40px;
    text-align: right;
}

.submitBtn {
    margin-top: 40px;
}

.starlabel label:after {
    content: " *";
    color: red;
}

.table {
    text-align: right;
}

.newUserBtn {
    direction: rtl;
    background-color: #0059a0;
}

input {
    text-align: right;
}

label {
    color: #0059a0;
}

#styleDropDown {
    color: #0059a0;
    background-color: aliceblue;
}

#labelText {
    color: #0059a0;
}