/* green button */
.btn-green {
    background-color: #568203; /* #568203 */
    color: white;
    border-radius: 20px; 
    border: none;
    padding: 10px;
    text-decoration: none;
}

/*large green texts*/
.text-lg-g{
    text-align: center;
    font-size: 35px;
    color: #568203;
    font-weight: normal; /*bold or normal?*/
}

/*medium black text*/
.text-m-b{
    color: black;
    font-size: 20px;
    font-weight: normal;
}

.container-box{
    text-align: center;
    border: 1px solid #568203;
    border-radius: 10px;
    margin: auto;
    padding: 30px 25px 30px 25px;
    
}


.color-purple {
    color: #720e9e;
}

.color-light-purple {
    color: rgb(239, 226, 252);
}


/* base: web title */
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
}

.formControl {
    float: right;
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
    width: 400px;
}

.formAlign {
    padding-top: 40px;
    text-align: right;
}

.starlabel label:after {
    content: " *";
    color: red;
}

.table {
    text-align: right;
}

.newUserBtn {
    direction: rtl;
    background-color: #720e9e;
}

input {
    text-align: right;
}

#styleDropDown {
    color: #720e9e;
    background-color:rgb(239, 226, 252);
}

#labelText {
    color: #720e9e;
}